<!-- blog-list -->
<div class="section-box box-posts-grid-2 background-100">
  <div class="container">
    <div class="text-center  mb-40">
      <div class="background-body px-3 py-2 rounded-12 border d-flex gap-3 d-inline-flex">
        <a href="index.html" class="neutral-700 text-md-medium">Home</a>
        <span>
          <img src="assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
        </span>
        <a href="#" class="neutral-1000 text-md-bold">Blog</a>
      </div>
      <h3 class="my-3 neutral-1000">Inside & Trending</h3>
    </div>
    <div class="row">
      <div class="col-lg-7">
        <div class="card-blog">
          <div class="card-image"><img src="assets/imgs/blog/blog-list/img-1.png" alt="carento" /></div>
          <div class="card-info">
            <div class="card-info-blog">
              <a class="btn btn-label-tag" href="#">Car Rental Tips</a>
              <a class="card-title heading-5" href="blog-details.html">How to Get the Most Out of Your Rental Car Experience</a>
              <div class="card-meta-user">
                <div class="box-author-small">
                  <img src="assets/imgs/page/homepage1/avatar.png" alt="Carento" />
                  <p class="text-sm-bold">By Jimmy Dave</p>
                </div>
                <div class="date-post">
                  <p class="text-sm-medium">12 January 2024</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5">
        <ul class="list-posts list-posts-md">
          <li>
            <div class="card-post">
              <div class="card-image">
                <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/img-2.png" alt="carento" /></a>
              </div>
              <div class="card-info">
                <a class="text-xl-bold neutral-1000" href="blog-details.html">How to Choose the Right Rental Car for Your Needs</a>
                <div class="d-flex align-items-center">
                  <p class="text-md-bold date-post neutral-500 mr-20">18 Sep 2024</p>
                  <p class="text-md-bold neutral-500">12 January 2024</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card-post">
              <div class="card-image">
                <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/img-3.png" alt="carento" /></a>
              </div>
              <div class="card-info">
                <a class="text-xl-bold neutral-1000" href="blog-details.html">The Top 5 Luxury Cars to Rent for Special Occasions</a>
                <div class="d-flex align-items-center">
                  <p class="text-md-bold date-post neutral-500 mr-20">18 Sep 2024</p>
                  <p class="text-md-bold neutral-500">12 January 2024</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card-post">
              <div class="card-image">
                <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/img-4.png" alt="carento" /></a>
              </div>
              <div class="card-info">
                <a class="text-xl-bold neutral-1000" href="blog-details.html">Exploring the Countryside: Best Cars for Scenic Drives</a>
                <div class="d-flex align-items-center">
                  <p class="text-md-bold date-post neutral-500 mr-20">18 Sep 2024</p>
                  <p class="text-md-bold neutral-500">12 January 2024</p>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="card-post">
              <div class="card-image">
                <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/img-5.png" alt="carento" /></a>
              </div>
              <div class="card-info">
                <a class="text-xl-bold neutral-1000" href="blog-details.html">What to Know Before Renting a Car Abroad</a>
                <div class="d-flex align-items-center">
                  <p class="text-md-bold date-post neutral-500 mr-20">18 Sep 2024</p>
                  <p class="text-md-bold neutral-500">12 January 2024</p>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="d-flex flex-wrap align-items-center justify-content-center gap-3 pt-55">
      <span class="text-md-bold neutral-1000"> CATEGORY: </span>
      <a href="#" class="btn btn-white px-3 py-2">Industry News</a>
      <a href="#" class="btn btn-white px-3 py-2">Rental Advice</a>
      <a href="#" class="btn btn-white px-3 py-2">Road Trips</a>
      <a href="#" class="btn btn-white px-3 py-2">Car Review</a>
      <a href="#" class="btn btn-white px-3 py-2">Travel Tips</a>
      <a href="#" class="btn btn-white px-3 py-2">Customer Stories</a>
    </div>
  </div>
</div>
<section class="box-section background-body">
  <div class="container">
    <div class="section-box background-body py-96">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h2 class="neutral-1000">Recent Posts</h2>
            <p class="text-xl-medium neutral-500">Favorite vehicles based on customer reviews</p>
            <div class="box-grid-hotels box-grid-news mt-60 mb-50 wow fadeIn">
              <div class="card-flight card-news background-card">
                <div class="card-image">
                  <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/news.png" alt="Carento" /></a>
                </div>
                <div class="card-info">
                  <a class="btn btn-label-tag background-3" href="#">Adventure</a>
                  <div class="card-title"><a class="heading-6 neutral-1000" href="blog-details.html">A Guide to Renting Cars for Family Road Trips</a></div>
                  <div class="card-meta"><span class="post-date neutral-1000">18 Sep 2024</span><span class="post-time neutral-1000">6 mins</span><span class="post-comment neutral-1000">38 comments</span></div>
                  <div class="card-desc">
                    <p class="text-md-medium neutral-500">The dark wood paneling and furnishings, deluxe red-draped four-poster bed, and magnificent black</p>
                  </div>
                  <div class="card-program">
                    <div class="endtime">
                      <div class="card-button"><a class="btn btn-gray" href="blog-details.html">Keep Reading</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-flight card-news background-card">
                <div class="card-image">
                  <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/news2.png" alt="Carento" /></a>
                </div>
                <div class="card-info">
                  <a class="btn btn-label-tag background-1" href="#">Luxury</a>
                  <div class="card-title"><a class="heading-6 neutral-1000" href="blog-details.html">How to Avoid Hidden Fees When Renting a Car</a></div>
                  <div class="card-meta"><span class="post-date neutral-1000">18 Sep 2024</span><span class="post-time neutral-1000">6 mins</span><span class="post-comment neutral-1000">38 comments</span></div>
                  <div class="card-desc">
                    <p class="text-md-medium neutral-500">The dark wood paneling and furnishings, deluxe red-draped four-poster bed, and magnificent black</p>
                  </div>
                  <div class="card-program">
                    <div class="endtime">
                      <div class="card-button"><a class="btn btn-gray" href="blog-details.html">Keep Reading</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-flight card-news background-card">
                <div class="card-image">
                  <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/news3.png" alt="Carento" /></a>
                </div>
                <div class="card-info">
                  <a class="btn btn-label-tag background-2" href="#">Wanderlust</a>
                  <div class="card-title"><a class="heading-6 neutral-1000" href="blog-details.html">Top Tips for Renting a Car During Peak Travel Seasons</a></div>
                  <div class="card-meta"><span class="post-date neutral-1000">18 Sep 2024</span><span class="post-time neutral-1000">6 mins</span><span class="post-comment neutral-1000">38 comments</span></div>
                  <div class="card-desc">
                    <p class="text-md-medium neutral-500">The dark wood paneling and furnishings, deluxe red-draped four-poster bed, and magnificent black</p>
                  </div>
                  <div class="card-program">
                    <div class="endtime">
                      <div class="card-button"><a class="btn btn-gray" href="blog-details.html">Keep Reading</a></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-flight card-news background-card">
                <div class="card-image">
                  <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/news4.png" alt="Carento" /></a>
                </div>
                <div class="card-info">
                  <a class="btn btn-label-tag background-4" href="#">Heritage</a>
                  <div class="card-title"><a class="heading-6 neutral-1000" href="blog-details.html">How to Choose the Best Insurance for Your Rental Car</a></div>
                  <div class="card-meta"><span class="post-date neutral-1000">18 Sep 2024</span><span class="post-time neutral-1000">6 mins</span><span class="post-comment neutral-1000">38 comments</span></div>
                  <div class="card-desc">
                    <p class="text-md-medium neutral-500">The dark wood paneling and furnishings, deluxe red-draped four-poster bed, and magnificent black</p>
                  </div>
                  <div class="card-program">
                    <div class="endtime">
                      <div class="card-button"><a class="btn btn-gray" href="blog-details.html">Keep Reading</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <nav aria-label="Page navigation example">
              <ul class="pagination">
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Previous">
                    <span aria-hidden="true">
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link active" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item"><a class="page-link" href="#">4</a></li>
                <li class="page-item"><a class="page-link" href="#">5</a></li>
                <li class="page-item"><a class="page-link" href="#">...</a></li>
                <li class="page-item">
                  <a class="page-link" href="#" aria-label="Next">
                    <span aria-hidden="true">
                      <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                      </svg>
                    </span>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="col-lg-4">
            <div class="box-search-style-2">
              <form action="#">
                <input type="text" placeholder="Search" />
                <input class="btn-search-submit" type="submit" value="" />
              </form>
            </div>
            <div class="box-sidebar-border">
              <div class="box-head-sidebar">
                <p class="text-xl-bold neutral-1000">Trending Now</p>
              </div>
              <div class="box-content-sidebar">
                <ul class="list-posts">
                  <li>
                    <div class="card-post">
                      <div class="card-image">
                        <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/trending.png" alt="Carento" /></a>
                      </div>
                      <div class="card-info">
                        <a class="text-md-bold neutral-1000" href="blog-details.html">How to Choose the Best Insurance for Your Rental Car</a>
                        <p class="text-sm-medium date-post neutral-500">18 Sep 2024</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="card-post">
                      <div class="card-image">
                        <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/trending1.png" alt="Carento" /></a>
                      </div>
                      <div class="card-info">
                        <a class="text-md-bold neutral-1000" href="blog-details.html">The Advantages of Renting a Car for Business Travel</a>
                        <p class="text-sm-medium date-post neutral-500">18 Sep 2024</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="card-post">
                      <div class="card-image">
                        <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/trending2.png" alt="Carento" /></a>
                      </div>
                      <div class="card-info">
                        <a class="text-md-bold neutral-1000" href="blog-details.html">Why Renting a Car Is Ideal for Exploring National Parks</a>
                        <p class="text-sm-medium date-post neutral-500">18 Sep 2024</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="card-post">
                      <div class="card-image">
                        <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/trending3.png" alt="Carento" /></a>
                      </div>
                      <div class="card-info">
                        <a class="text-md-bold neutral-1000" href="blog-details.html">How to Extend Your Car Rental Without Hassle</a>
                        <p class="text-sm-medium date-post neutral-500">18 Sep 2024</p>
                      </div>
                    </div>
                  </li>
                  <li>
                    <div class="card-post">
                      <div class="card-image">
                        <a href="blog-details.html"><img src="assets/imgs/blog/blog-list/trending4.png" alt="Carento" /></a>
                      </div>
                      <div class="card-info">
                        <a class="text-md-bold neutral-1000" href="blog-details.html">The Ultimate Checklist for Returning Your Rental Car</a>
                        <p class="text-sm-medium date-post neutral-500">18 Sep 2024</p>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div class="box-sidebar-border">
              <div class="box-head-sidebar">
                <p class="text-xl-bold neutral-1000">Gallery</p>
              </div>
              <div class="box-content-sidebar">
                <ul class="list-photo-col-3">
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat2.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat3.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat4.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat5.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat6.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat7.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat8.png" alt="Carento" /></a>
                  </li>
                  <li>
                    <a href="#"><img src="assets/imgs/blog/blog-list/cat.png" alt="Carento" /></a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="sidebar-banner">
              <a href="#"><img class="rounded-3 w-100" src="assets/imgs/blog/blog-list/banner-ads.png" alt="Carento" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="section-box box-subscriber background-body">
      <div class="container">
        <div class="block-subscriber">
          <div class="subscriber-left">
            <span class="btn btn-primary">Get instant discounts</span>
            <h4 class="mt-15 mb-30 neutral-1000">Sign up to unlock secret deals instantly!</h4>
            <form class="form-subscriber" action="#">
              <input class="form-control" type="text" placeholder="Your Email" />
              <input class="btn btn-submit" type="submit" value="Subscribe" />
            </form>
            <p class="text-sm-medium neutral-500 mt-15">No ads. No trails. No commitments</p>
          </div>
          <div class="subscriber-right"></div>
        </div>
      </div>
    </div>
  </div>
</section>
