<!-- services 1 -->
<section class="section-box box-properties-area pt-96 pb-50 background-body">
  <div class="container">
    <div class="row align-items-end mb-40">
      <div class="col-md-8">
        <h3 class="neutral-1000">Our Services</h3>
        <p class="text-lg-medium neutral-500">Serving You with Quality, Comfort, and Convenience</p>
      </div>
      <div class="col-md-4 mt-md-0 mt-4">
        <div class="d-flex justify-content-md-end justify-content-center">
          <a class="btn btn-primary" href="cars-list-1.html">
            View More
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="box-list-featured">
      <div class="box-swiper mt-0">
        <div class="swiper-container swiper-group-4 swiper-group-journey">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="card-spot background-card wow fadeInDown">
                <div class="card-image">
                  <a href="services.html"><img class="rounded-3" src="assets/imgs/services/services-1/img-1.png" alt="Carento" /></a>
                </div>
                <div class="card-info background-card">
                  <div class="card-left">
                    <div class="card-title"><a class="text-lg-bold neutral-1000" href="services.html">Venice</a></div>
                    <div class="card-desc"><a class="text-sm neutral-500" href="#">356 Properties</a></div>
                  </div>
                  <div class="card-right">
                    <div class="card-button">
                      <a href="services.html">
                        <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-spot background-card wow fadeInDown">
                <div class="card-image">
                  <a href="services.html"><img class="rounded-3" src="assets/imgs/services/services-1/img-2.png" alt="Carento" /></a>
                </div>
                <div class="card-info background-card">
                  <div class="card-left">
                    <div class="card-title"><a class="text-lg-bold neutral-1000" href="services.html">New York</a></div>
                    <div class="card-desc"><a class="text-sm neutral-500" href="#">356 Properties</a></div>
                  </div>
                  <div class="card-right">
                    <div class="card-button">
                      <a href="services.html">
                        <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-spot background-card wow fadeInDown">
                <div class="card-image">
                  <a href="services.html"><img class="rounded-3" src="assets/imgs/services/services-1/img-3.png" alt="Carento" /></a>
                </div>
                <div class="card-info background-card">
                  <div class="card-left">
                    <div class="card-title"><a class="text-lg-bold neutral-1000" href="services.html">Amsterdam</a></div>
                    <div class="card-desc"><a class="text-sm neutral-500" href="#">356 Properties</a></div>
                  </div>
                  <div class="card-right">
                    <div class="card-button">
                      <a href="services.html">
                        <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="card-spot background-card wow fadeInDown">
                <div class="card-image">
                  <a href="services.html"><img class="rounded-3" src="assets/imgs/services/services-1/img-4.png" alt="Carento" /></a>
                </div>
                <div class="card-info background-card">
                  <div class="card-left">
                    <div class="card-title"><a class="text-lg-bold neutral-1000" href="services.html">Budapest</a></div>
                    <div class="card-desc"><a class="text-sm neutral-500" href="#">356 Properties</a></div>
                  </div>
                  <div class="card-right">
                    <div class="card-button">
                      <a href="services.html">
                        <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                          <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                        </svg>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
