<!-- Static 1 -->
<section class="section-static-1 background-body @@classList">
  <div class="container">
    <div class="row">
      <div class="@@classList2">
        <div class="wow fadeIn">
          <div class="d-flex align-items-center justify-content-around flex-wrap">
            <div class="mb-4 mb-lg-0 d-block px-lg-5 px-3">
              <div class="d-flex justify-content-center justify-content-md-start">
                <h3 class="count neutral-1000"><span class="odometer" data-count="45"></span></h3>
                <h3 class="neutral-1000">+</h3>
              </div>
              <div class="text-md-start text-center">
                <p class="text-lg-bold neutral-1000">Global</p>
                <p class="text-lg-bold neutral-1000">Branches</p>
              </div>
            </div>
            <div class="mb-4 mb-lg-0 d-block px-lg-5 px-3">
              <div class="d-flex justify-content-center justify-content-md-start">
                <h3 class="count neutral-1000"><span class="odometer" data-count="29"></span></h3>
                <h3 class="neutral-1000">K</h3>
              </div>
              <div class="text-md-start text-center">
                <p class="text-lg-bold neutral-1000">Destinations</p>
                <p class="text-lg-bold neutral-1000">Collaboration</p>
              </div>
            </div>
            <div class="mb-4 mb-lg-0 d-block px-lg-5 px-3">
              <div class="d-flex justify-content-center justify-content-md-start">
                <h3 class="count neutral-1000"><span class="odometer" data-count="20"></span></h3>
                <h3 class="neutral-1000">+</h3>
              </div>
              <div class="text-md-start text-center">
                <p class="text-lg-bold neutral-1000">Years</p>
                <p class="text-lg-bold neutral-1000">Experience</p>
              </div>
            </div>
            <div class="mb-4 mb-lg-0 d-block px-lg-5 px-3">
              <div class="d-flex justify-content-center justify-content-md-start">
                <h3 class="count neutral-1000"><span class="odometer" data-count="168"></span></h3>
                <h3 class="neutral-1000">K</h3>
              </div>
              <div class="text-md-start text-center">
                <p class="text-lg-bold neutral-1000">Happy</p>
                <p class="text-lg-bold neutral-1000">Customers</p>
              </div>
            </div>
            <div class="mb-4 mb-lg-0 d-block px-lg-5 px-3">
              <div class="d-flex justify-content-center justify-content-md-start">
                <h3 class="count neutral-1000"><span class="odometer" data-count="15"></span></h3>
                <h3 class="neutral-1000">M</h3>
              </div>
              <div class="text-md-start text-center">
                <p class="text-lg-bold neutral-1000">User</p>
                <p class="text-lg-bold neutral-1000">Account</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
