<div class="card user-sidebar mb-4">
	<div class="card-header user-sidebar-header">
		<div class="profile-content rounded-pill">
			<div class="d-flex align-items-center justify-content-between">
				<div class="d-flex align-items-center justify-content-center py-2">
					<a href="cars-list-2.html" class="item-brand me-2">
						<img class="light-mode" src="assets/imgs/page/homepage2/honda.png" alt="Carento">
						<img class="dark-mode" src="assets/imgs/page/homepage2/honda-w.png" alt="Carento">
					</a>
					<div>
						<p class="fw-bold fs-5">Honda London</p>
						<span class="fs-14 text-gray-6">Since 2019</span>
					</div>
				</div>
				<div>
					<div class="d-flex align-items-center justify-content-center">
						<a href="agent-dashboard-setting.html" class="p-1 rounded-circle align-items-center justify-content-center btn-edit">
							<i class="fi fi-rr-pencil fs-7"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body user-sidebar-body">
		<ul class="dashboard-sidebar-menu">
			<li class="py-2"><a href="agent-dashboard-home.html"><i class="fi fi-rr-home me-1"></i> Dashboard</a></li>
			<li class="py-2"><a href="agent-dashboard-listing.html"><i class="fi fi-rr-calendar me-1"></i>Listings</a></li>
			<li class="py-2"><a href="agent-dashboard-add-listing.html"><i class="fi fi-rr-heart me-1"></i>Add Listing</a></li>
			<li class="py-2"><a href="agent-dashboard-earning.html"><i class="fi fi-rr-money me-1"></i>Earning</a></li>
			<li class="py-2"><a href="agent-dashboard-setting.html"><i class="fi fi-rr-settings me-1"></i>Setting</a></li>
		</ul>
	</div>
</div>