<div class="header-nav">
  <nav class="nav-main-menu">
    <ul class="main-menu">
      <li class="has-children">
        <a href="#">Home</a>
        <ul class="sub-menu">
          <li><a href="index.html">Home page v1</a></li>
          <li><a href="index-2.html">Home page v2</a></li>
          <li><a href="index-3.html">Home page v3</a></li>
        </ul>
      </li>
      <li class="mega-li-small has-children">
        <a href="#">Vehicles</a>
        <div class="mega-menu">
          <div class="mega-menu-inner mega-menu-inner-small">
            <div class="row">
              <div class="col-lg-6">
                <h6 class="text-lg-bold neutral-1000">Cars List</h6>
                <ul class="sub-menu">
                  <li><a href="cars-list-1.html">Cars List v1</a></li>
                  <li><a href="cars-list-2.html">Cars List v2</a></li>
                  <li><a href="cars-list-3.html">Cars List v3</a></li>
                  <li><a href="cars-list-4.html">Cars List v4</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h6 class="text-lg-bold neutral-1000">Car Details</h6>
                <ul class="sub-menu">
                  <li><a href="cars-details-1.html">Car Details v1</a></li>
                  <li><a href="cars-details-2.html">Car Details v2</a></li>
                  <li><a href="cars-details-3.html">Car Details v3</a></li>
                  <li><a href="cars-details-4.html">Car Details v4</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li class="mega-li-small has-children">
        <a href="#">Dealers</a>
        <div class="mega-menu">
          <div class="mega-menu-inner mega-menu-inner-small mega-menu-inner-destinations">
            <ul class="sub-menu">
              <li><a href="dealer-listing.html">Dealers Listing</a></li>
              <li><a href="dealer-details.html">Dealer Details</a></li>
            </ul>
          </div>
        </div>
      </li>
      <li class="has-children">
        <a href="#">Shop</a>
        <ul class="sub-menu">
          <li><a href="shop-list.html">Shop Grid</a></li>
          <li><a href="shop-details.html">Product Details</a></li>
        </ul>
      </li>
      <li class="has-children">
        <a href="#">Pages</a>
        <ul class="sub-menu">
          <li><a href="about-us.html">About Us</a></li>
          <li><a href="services.html">Our Services</a></li>
          <li><a href="pricing.html">Pricing</a></li>
          <li><a href="calculator.html">Loan Calculator</a></li>
          <li><a href="faqs.html">FAQs</a></li>
          <li><a href="term.html">Term</a></li>
          <li><a href="contact.html">Contact</a></li>
          <li><a href="login.html">Login</a></li>
          <li><a href="register.html">Register</a></li>
          <li><a href="404.html">Error 404</a></li>
        </ul>
      </li>
      <li class="has-children">
        <a href="#">News</a>
        <ul class="sub-menu">
          <li><a href="blog-grid.html">News Grid</a></li>
          <li><a href="blog-list.html">News List</a></li>
          <li><a href="blog-details.html">News Details</a></li>
        </ul>
      </li>
      <li class="mega-li-small has-children">
        <a href="#">Dashboard</a>
        <div class="mega-menu">
          <div class="mega-menu-inner mega-menu-inner-small">
            <div class="row">
              <div class="col-lg-6">
                <h6 class="text-lg-bold neutral-1000">User Dashboard</h6>
                <ul class="sub-menu">
                  <li><a href="user-dashboard-home.html"><i class="fi fi-rr-home me-1"></i>User Dashboard</a></li>
                  <li><a href="user-dashboard-bookings.html"><i class="fi fi-rr-calendar me-1"></i>My Bookings</a></li>
                  <li><a href="user-dashboard-wishlist.html"><i class="fi fi-rr-heart me-1"></i>My Wishlist</a></li>
                  <li><a href="user-dashboard-wallet.html"><i class="fi fi-rr-money me-1"></i>My Wallet</a></li>
                  <li><a href="user-dashboard-profile.html"><i class="fi fi-rr-user me-1"></i>My Profile</a></li>
                  <li><a href="user-dashboard-setting.html"><i class="fi fi-rr-settings me-1"></i>Setting</a></li>
                </ul>
              </div>
              <div class="col-lg-6">
                <h6 class="text-lg-bold neutral-1000">Agent Dashboard</h6>
                <ul class="sub-menu">
                  <li><a href="agent-dashboard-home.html"><i class="fi fi-rr-home me-1"></i>Dashboard</a></li>
                  <li><a href="agent-dashboard-listing.html"><i class="fi fi-rr-calendar me-1"></i>Listings</a></li>
                  <li><a href="agent-dashboard-add-listing.html"><i class="fi fi-rr-heart me-1"></i>Add Listing</a></li>
                  <li><a href="agent-dashboard-earning.html"><i class="fi fi-rr-money me-1"></i>Earnings</a></li>
                  <li><a href="agent-dashboard-setting.html"><i class="fi fi-rr-settings me-1"></i>Setting</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li><a href="contact.html">Contact</a></li>
    </ul>
  </nav>
</div>