<!-- page header -->
<div class="page-header pt-30 background-body">
  <div class="custom-container position-relative mx-auto">
    <div class="bg-overlay rounded-12 overflow-hidden">
      <img class="w-100 h-100 img-banner" src="@@banner" alt="Carento" />
    </div>
    <div class="container position-absolute z-1 top-50 start-50 translate-middle">
      <h2 class="text-white">@@title</h2>
      <span class="text-white text-xl-medium">@@description</span>
    </div>
    <div class="background-body position-absolute z-1 top-100 start-50 translate-middle px-3 py-2 rounded-12 border d-flex gap-3 @@navigation-page">
      <a href="index.html" class="neutral-700 text-md-medium">Home</a>
      <span>
        <img src="assets/imgs/template/icons/arrow-right.svg" alt="Carento" />
      </span>
      <a href="#" class="neutral-1000 text-md-bold">@@current-page</a>
    </div>
  </div>
</div>
