<!--Vendors Scripts-->
<script src="assets/js/vendor/jquery-3.7.1.min.js"></script>
<script src="assets/js/vendor/jquery-migrate-3.3.0.min.js"></script>
<script src="assets/js/vendor/bootstrap.bundle.min.js"></script>
<!--Other-->
<script src="assets/js/plugins/magnific-popup.js"></script>
<script src="assets/js/plugins/perfect-scrollbar.min.js"></script>
<script src="assets/js/plugins/swiper-bundle.min.js"></script>
<script src="assets/js/plugins/slick.js"></script>
<script src="assets/js/plugins/jquery.carouselTicker.js"></script>
<script src="assets/js/plugins/masonry.min.js"></script>
<script src="assets/js/plugins/scrollup.js"></script>
<script src="assets/js/plugins/wow.js"></script>
<script src="assets/js/plugins/waypoints.js"></script>
<script src="assets/js/plugins/jquery.appear.js"></script>
<script src="assets/js/plugins/jquery.odometer.min.js"></script>
<script src="assets/js/plugins/bootstrap-datepicker.js"></script>
<script src="assets/js/plugins/dark.js"></script>
<!-- Count down-->
<script src="assets/js/vendor/jquery.countdown.min.js"></script>
<script src="assets/js/plugins/noUISlider.js"></script>
<script src="assets/js/plugins/slider.js"></script>
<!--Custom script for this template-->
<script src="assets/js/main.js?v=1.0.0"></script>
