<div class="card user-sidebar mb-4">
	<div class="card-header user-sidebar-header">
		<div class="profile-content rounded-pill">
			<div class="d-flex align-items-center justify-content-between">
				<div class="d-flex align-items-center justify-content-center py-2">
					<img src="assets/imgs/section-1/img-2.png" alt="image" class="img-fluid avatar avatar-lg rounded-circle me-3">
					<div>
						<p class="fw-bold fs-5">Steven Jobs</p>
						<span class="fs-14 text-gray-6">Since 16 Aprill 2015</span>
					</div>
				</div>
				<div>
					<div class="d-flex align-items-center justify-content-center">
						<a href="user-dashboard-setting.html"
							class="p-1 rounded-circle align-items-center justify-content-center btn-edit">
							<i class="fi fi-rr-pencil fs-7"></i>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="card-body user-sidebar-body">
		<ul class="dashboard-sidebar-menu">
			<li class="py-2"><a href="user-dashboard-home.html"><i class="fi fi-rr-home me-1"></i> User Dashboard</a></li>
			<li class="py-2"><a href="user-dashboard-bookings.html"><i class="fi fi-rr-calendar me-1"></i>My Bookings</a></li>
			<li class="py-2"><a href="user-dashboard-wishlist.html"><i class="fi fi-rr-heart me-1"></i>My Wishlist</a></li>
			<li class="py-2"><a href="user-dashboard-wallet.html"><i class="fi fi-rr-money me-1"></i>My Wallet</a></li>
			<li class="py-2"><a href="user-dashboard-profile.html"><i class="fi fi-rr-user me-1"></i>My Profile</a></li>
			<li class="py-2"><a href="user-dashboard-setting.html"><i class="fi fi-rr-settings me-1"></i>Setting</a></li>
		</ul>
	</div>
</div>