<!-- cars-listing-2 -->
<section class="section-box box-flights background-body">
  <div class="container">
    <div class="row align-items-end mb-10">
      <div class="col-md-8">
        <h3 class="neutral-1000 wow fadeInUp">Featured Listings</h3>
        <p class="text-lg-medium neutral-500 wow fadeInUp">Find the perfect ride for any occasion</p>
      </div>
      <div class="col-md-4 mt-md-0 mt-4">
        <div class="d-flex justify-content-end">
          <a class="btn btn-primary wow fadeInUp" href="cars-list-1.html">
            View More
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row pt-30">
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.1s">
        <div class="card-journey-small background-card hover-up">
          <div class="card-image">
            <a href="cars-details-2.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-1.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium py-1 rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-2.html">Volkswagen Golf GTD</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$498.25</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-2.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.2s">
        <div class="card-journey-small background-card hover-up">
          <div class="card-image">
            <a href="cars-details-2.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-2.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium py-1 rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-2.html">Volvo S60 D4 R-Design</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$498.25</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-2.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.3s">
        <div class="card-journey-small background-card hover-up">
          <div class="card-image">
            <a href="cars-details-2.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-3.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium py-1 rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-2.html">Jaguar XE 2.0d R-Sport</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$498.25</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-2.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeIn" data-wow-delay="0.4s">
        <div class="card-journey-small background-card hover-up">
          <div class="card-image">
            <a href="cars-details-2.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-4.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium py-1 rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-2.html">Lexus IS 300h F Sport</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$498.25</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-2.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
