<!-- cars-listing-2 -->
<section class="section-box background-body py-96">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-lg-6 mb-30 text-center text-lg-start">
        <h2 class="neutral-1000">Popular Vehicles</h2>
        <p class="text-xl-medium neutral-500">Favorite vehicles based on customer reviews</p>
      </div>
      <div class="col-lg-6 mb-30">
        <div class="d-flex align-items-center justify-content-center justify-content-lg-end popular-categories">
          <div class="dropdown dropdown-filter">
            <button class="btn btn-dropdown dropdown-toggle m-0" id="dropdownCategory" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span>Categories</span></button>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownCategory">
              <li><a class="dropdown-item active" href="#">Sedan</a></li>
              <li><a class="dropdown-item" href="#">SUVs</a></li>
              <li><a class="dropdown-item" href="#">Coupes</a></li>
              <li><a class="dropdown-item" href="#">Hatchbacks</a></li>
              <li><a class="dropdown-item" href="#">Trucks</a></li>
              <li><a class="dropdown-item" href="#">Minivan</a></li>
              <li><a class="dropdown-item" href="#">Sport</a></li>
              <li><a class="dropdown-item" href="#">Cross-over</a></li>
            </ul>
          </div>
          <div class="dropdown dropdown-filter">
            <button class="btn btn-dropdown dropdown-toggle m-0" id="dropdownCategory" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span>Fuel Type</span></button>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownCategory">
              <li><a class="dropdown-item active" href="#">Plug-in Hybrid (PHEV)</a></li>
              <li><a class="dropdown-item" href="#">Hybrid (HEV)</a></li>
              <li><a class="dropdown-item" href="#">Electric Vehicle (EV)</a></li>
              <li><a class="dropdown-item" href="#">Diesel</a></li>
              <li><a class="dropdown-item" href="#">Gasoline/Petrol</a></li>
              <li><a class="dropdown-item" href="#">Hydrogen</a></li>
            </ul>
          </div>
          <div class="dropdown dropdown-filter">
            <button class="btn btn-dropdown dropdown-toggle m-0" id="dropdownCategory" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span>Review / Rating</span></button>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownCategory">
              <li><a class="dropdown-item active" href="#">Newest</a></li>
              <li><a class="dropdown-item" href="#">Oldest</a></li>
            </ul>
          </div>
          <div class="dropdown dropdown-filter">
            <button class="btn btn-dropdown dropdown-toggle m-0" id="dropdownCategory" type="button" data-bs-toggle="dropdown" aria-expanded="false"><span>Price range</span></button>
            <ul class="dropdown-menu dropdown-menu-light" aria-labelledby="dropdownCategory">
              <li><a class="dropdown-item active" href="#">$10 - $100</a></li>
              <li><a class="dropdown-item" href="#">$100 - $1.000</a></li>
              <li><a class="dropdown-item" href="#">$1.000 - $10.000</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-1.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Volkswagen Golf GTD 2</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-5.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-1.html">Volvo S60 D4 R-Design</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-6.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-1.html">Jaguar XE 2.0d R-Sport</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-7.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-1.html">Lexus IS 300h F Sport</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-8.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Volkswagen Golf GTD</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-9.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-1.html">Volvo S60 D4 R-Design</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-10.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-1.html">Jaguar XE 2.0d R-Sport</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6">
        <div class="card-journey-small background-card wow fadeInUp hover-up">
          <div class="card-image">
            <a href="cars-details-1.html">
              <img src="assets/imgs/cars-listing/cars-listing-2/car-11.png" alt="Carento" />
            </a>
          </div>
          <div class="card-info p-4 pt-30">
            <div class="card-rating">
              <div class="card-left"></div>
              <div class="card-right">
                <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
              </div>
            </div>
            <div class="card-title"><a class="text-lg-bold neutral-1000" href="cars-details-1.html">Lexus IS 300h F Sport</a></div>
            <div class="card-program">
              <div class="card-location">
                <p class="text-location text-sm-medium neutral-500">Manchester, England</p>
              </div>
              <div class="card-facitlities">
                <p class="card-miles text-md-medium">25,100 miles</p>
                <p class="card-gear text-md-medium">Automatic</p>
                <p class="card-fuel text-md-medium">Diesel</p>
                <p class="card-seat text-md-medium">7 seats</p>
              </div>
              <div class="endtime">
                <div class="card-price">
                  <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                  <p class="text-md-medium neutral-500"></p>
                </div>
                <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-center">
      <a class="btn btn-brand-2 text-nowrap wow fadeInUp" href="cars-list-1.html">
        <svg class="me-2" xmlns="http://www.w3.org/2000/svg" width="19" height="18" viewBox="0 0 19 18" fill="none">
          <g clip-path="url(#clip0_117_4717)">
            <path d="M4.4024 14.0977C1.60418 11.2899 1.60418 6.71576 4.4024 3.90794L5.89511 5.40064V0.90332H1.39779L3.13528 2.64081C-0.378102 6.1494 -0.378102 11.8562 3.13528 15.3696C5.35275 17.5823 8.43896 18.403 11.2996 17.8175V15.9648C8.91413 16.584 6.26949 15.9648 4.4024 14.0977Z" fill="#101010" />
            <path d="M15.864 2.64036C13.6465 0.418093 10.5603 -0.402657 7.69971 0.182907V2.03559C10.0852 1.41643 12.7346 2.04519 14.5969 3.90748C17.4047 6.71531 17.4047 11.2894 14.5969 14.0973L13.1042 12.6045V17.1067H17.6063L15.8688 15.3692C19.3774 11.8558 19.3774 6.14894 15.864 2.64036Z" fill="#101010" />
          </g>
          <defs>
            <clipPath id="clip0_117_4717">
              <rect width="18" height="18" fill="white" transform="translate(0.5)" />
            </clipPath>
          </defs>
        </svg>
        Load More Cars
      </a>
    </div>
  </div>
</section>
