<!-- cars-listing-1 -->
<section class="section-box pt-50 background-body">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-9 mb-30 wow fadeInUp">
        <h4 class="title-svg neutral-1000 mb-15">Listed by this dealer</h4>
        <p class="text-lg-medium text-bold neutral-500">Top Car Rental Service</p>
      </div>
    </div>
  </div>
</section>
<section class="box-section block-content-tourlist background-body">
  <div class="container">
    <div class="box-content-main pt-20">
      <div class="content-right">
        <div class="box-grid-tours wow fadeIn">
          <div class="row">
            <div class="col-lg-3 col-md-6">
              <div class="card-journey-small background-card hover-up">
                <div class="card-image">
                  <img src="assets/imgs/cars-listing/cars-listing-6/car-6.png" alt="Carento" />
                </div>
                <div class="card-info p-4 pt-30">
                  <div class="card-rating">
                    <div class="card-left"></div>
                    <div class="card-right">
                      <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                    </div>
                  </div>
                  <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Hyundai Sonata SEL Plus</a></div>
                  <div class="card-program">
                    <div class="card-location">
                      <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                    </div>
                    <div class="card-facitlities">
                      <p class="card-miles text-md-medium">25,100 miles</p>
                      <p class="card-gear text-md-medium">Automatic</p>
                      <p class="card-fuel text-md-medium">Diesel</p>
                      <p class="card-seat text-md-medium">7 seats</p>
                    </div>
                    <div class="endtime">
                      <div class="card-price">
                        <h6 class="text-lg-bold neutral-1000">$72.15</h6>
                        <p class="text-md-medium neutral-500">/ day</p>
                      </div>
                      <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card-journey-small background-card hover-up">
                <div class="card-image">
                  <img src="assets/imgs/cars-listing/cars-listing-6/car-5.png" alt="Carento" />
                </div>
                <div class="card-info p-4 pt-30">
                  <div class="card-rating">
                    <div class="card-left"></div>
                    <div class="card-right">
                      <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                    </div>
                  </div>
                  <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Buick Enclave Avenir</a></div>
                  <div class="card-program">
                    <div class="card-location">
                      <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                    </div>
                    <div class="card-facitlities">
                      <p class="card-miles text-md-medium">25,100 miles</p>
                      <p class="card-gear text-md-medium">Automatic</p>
                      <p class="card-fuel text-md-medium">Diesel</p>
                      <p class="card-seat text-md-medium">7 seats</p>
                    </div>
                    <div class="endtime">
                      <div class="card-price">
                        <h6 class="text-lg-bold neutral-1000">$69.56</h6>
                        <p class="text-md-medium neutral-500">/ day</p>
                      </div>
                      <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card-journey-small background-card hover-up">
                <div class="card-image">
                  <img src="assets/imgs/cars-listing/cars-listing-6/car-4.png" alt="Carento" />
                </div>
                <div class="card-info p-4 pt-30">
                  <div class="card-rating">
                    <div class="card-left"></div>
                    <div class="card-right">
                      <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                    </div>
                  </div>
                  <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Chevrolet Silverado</a></div>
                  <div class="card-program">
                    <div class="card-location">
                      <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                    </div>
                    <div class="card-facitlities">
                      <p class="card-miles text-md-medium">25,100 miles</p>
                      <p class="card-gear text-md-medium">Automatic</p>
                      <p class="card-fuel text-md-medium">Diesel</p>
                      <p class="card-seat text-md-medium">7 seats</p>
                    </div>
                    <div class="endtime">
                      <div class="card-price">
                        <h6 class="text-lg-bold neutral-1000">$253.0</h6>
                        <p class="text-md-medium neutral-500">/ day</p>
                      </div>
                      <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-3 col-md-6">
              <div class="card-journey-small background-card hover-up">
                <div class="card-image">
                  <img src="assets/imgs/cars-listing/cars-listing-6/car-3.png" alt="Carento" />
                </div>
                <div class="card-info p-4 pt-30">
                  <div class="card-rating">
                    <div class="card-left"></div>
                    <div class="card-right">
                      <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                    </div>
                  </div>
                  <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Subaru Outback Limited XT</a></div>
                  <div class="card-program">
                    <div class="card-location">
                      <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                    </div>
                    <div class="card-facitlities">
                      <p class="card-miles text-md-medium">25,100 miles</p>
                      <p class="card-gear text-md-medium">Automatic</p>
                      <p class="card-fuel text-md-medium">Diesel</p>
                      <p class="card-seat text-md-medium">7 seats</p>
                    </div>
                    <div class="endtime">
                      <div class="card-price">
                        <h6 class="text-lg-bold neutral-1000">$75.86</h6>
                        <p class="text-md-medium neutral-500">/ day</p>
                      </div>
                      <div class="card-button"><a class="btn btn-gray" href="cars-details-1.html">Book Now</a></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="content-left order-lg-first d-none">
        <div class="sidebar-left border-1 background-body">
          <div class="box-filters-sidebar">
            <div class="block-filter border-1">
              <h6 class="text-lg-bold item-collapse neutral-1000">Show on map</h6>
              <div class="box-collapse scrollFilter mb-15">
                <div class="pt-0">
                  <div class="box-map-small">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d5249.611419370571!2d2.3406913487788334!3d48.86191519358772!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e66e18a5f84801%3A0x6eb5daa624bdebd2!2sLes%20Halles%2C%2075001%20Pa%20ri%2C%20Ph%C3%A1p!5e0!3m2!1svi!2s!4v1711728202093!5m2!1svi!2s" width="100%" height="160" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-left border-1 background-body">
          <div class="box-filters-sidebar">
            <div class="block-filter border-1">
              <h6 class="text-lg-bold item-collapse neutral-1000">Filter Price</h6>
              <div class="box-collapse scrollFilter">
                <div class="pt-20">
                  <div class="box-slider-range">
                    <div id="slider-range"></div>
                    <div class="box-value-price"><span class="text-md-medium neutral-1000">$0</span><span class="text-md-medium neutral-1000">$500</span></div>
                    <input class="value-money" type="hidden" />
                  </div>
                </div>
              </div>
              <div class="d-flex justify-content-between pt-20 border-top">
                <a href="#" class="d-flex align-items-center">
                  <div class="background-100 icon-shape p-1 rounded-1 me-2">
                    <svg class="" xmlns="http://www.w3.org/2000/svg" width="9" height="9" viewBox="0 0 9 9" fill="none">
                      <line x1="1.20074" y1="1.5141" x2="7.59837" y2="7.91174" stroke="black" stroke-width="0.904762" />
                      <line x1="1.01337" y1="7.91156" x2="7.411" y2="1.51393" stroke="black" stroke-width="0.904762" />
                    </svg>
                  </div>
                  <span class="text-sm-medium neutral-1000">Clear</span>
                </a>
                <a href="#" class="btn btn-primary px-3 py-2">
                  <img src="assets/imgs/template/icons/user.svg" alt="Carento" />
                  Apply
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-left border-1 background-body">
          <div class="box-filters-sidebar">
            <div class="block-filter border-1">
              <h6 class="text-lg-bold item-collapse neutral-1000">Car type</h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">All </span><span class="checkmark"></span> </label><span class="number-item">198</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Sedans</span><span class="checkmark"></span> </label><span class="number-item">32</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">SUVs </span><span class="checkmark"></span> </label><span class="number-item">13</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Coupes</span><span class="checkmark"></span> </label><span class="number-item">23</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Hatchbacks</span><span class="checkmark"></span> </label><span class="number-item">35</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Convertibles</span><span class="checkmark"></span> </label><span class="number-item">56</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Trucks</span><span class="checkmark"></span> </label><span class="number-item">76</span>
                  </li>
                </ul>
                <div class="box-see-more mt-20 mb-25">
                  <a class="link-see-more" href="#">
                    See more
                    <svg width="8" height="6" viewbox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z" fill=""></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-left border-1 background-body">
          <div class="box-filters-sidebar">
            <div class="block-filter border-1">
              <h6 class="text-lg-bold item-collapse neutral-1000">Car Amenities</h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">All</span><span class="checkmark"></span> </label><span class="number-item">32</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Leather upholstery</span><span class="checkmark"></span> </label><span class="number-item">13</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Heated seats</span><span class="checkmark"></span> </label><span class="number-item">23</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Sunroof/Moonroof</span><span class="checkmark"></span> </label><span class="number-item">23</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Keyless entry/start</span><span class="checkmark"></span> </label><span class="number-item">35</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Heads-up display</span><span class="checkmark"></span> </label><span class="number-item">56</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Adaptive cruise control</span><span class="checkmark"></span> </label><span class="number-item">76</span>
                  </li>
                </ul>
                <div class="box-see-more mt-20 mb-25">
                  <a class="link-see-more" href="#">
                    See more
                    <svg width="8" height="6" viewbox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z" fill=""></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-left border-1 background-body">
          <div class="box-filters-sidebar">
            <div class="block-filter border-1">
              <h6 class="text-lg-bold item-collapse neutral-1000">Fuel Type</h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">All</span><span class="checkmark"></span> </label><span class="number-item">32</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Plug-in Hybrid (PHEV)</span><span class="checkmark"></span> </label><span class="number-item">13</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Hybrid (HEV)</span><span class="checkmark"></span> </label><span class="number-item">23</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Electric Vehicle (EV)</span><span class="checkmark"></span> </label><span class="number-item">23</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Diesel</span><span class="checkmark"></span> </label><span class="number-item">35</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Gasoline/Petrol</span><span class="checkmark"></span> </label><span class="number-item">56</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Hydrogen</span><span class="checkmark"></span> </label><span class="number-item">76</span>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-left border-1 background-body">
          <div class="box-filters-sidebar">
            <div class="block-filter border-1">
              <h6 class="text-lg-bold item-collapse neutral-1000">Review Score</h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                  <li>
                    <label class="cb-container">
                      <input type="checkbox" /><span class="text-sm-medium"> <img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /></span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="cb-container">
                      <input type="checkbox" /><span class="text-sm-medium"> <img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /></span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="cb-container">
                      <input type="checkbox" /><span class="text-sm-medium"> <img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /></span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="cb-container">
                      <input type="checkbox" /><span class="text-sm-medium"> <img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /></span><span class="checkmark"></span>
                    </label>
                  </li>
                  <li>
                    <label class="cb-container">
                      <input type="checkbox" /><span class="text-sm-medium"> <img src="assets/imgs/template/icons/star-yellow.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /><img src="assets/imgs/template/icons/star-grey.svg" alt="Carento" /></span><span class="checkmark"></span>
                    </label>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <div class="sidebar-left border-1 background-body">
          <div class="box-filters-sidebar">
            <div class="block-filter border-1">
              <h6 class="text-lg-bold item-collapse neutral-1000">Booking Location</h6>
              <div class="box-collapse scrollFilter">
                <ul class="list-filter-checkbox">
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Maldives Haven</span><span class="checkmark"></span> </label><span class="number-item">198</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Santorini Retreat</span><span class="checkmark"></span> </label><span class="number-item">32</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Parisian Plaza</span><span class="checkmark"></span> </label><span class="number-item">13</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Tokyo Tower View</span><span class="checkmark"></span> </label><span class="number-item">23</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Caribbean Cove</span><span class="checkmark"></span> </label><span class="number-item">35</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Swiss Alps Lodge</span><span class="checkmark"></span> </label><span class="number-item">56</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">New York Cityscape</span><span class="checkmark"></span> </label><span class="number-item">76</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Dubai Oasis</span><span class="checkmark"></span> </label><span class="number-item">76</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">Barcelona Beachfront</span><span class="checkmark"></span> </label><span class="number-item">76</span>
                  </li>
                  <li>
                    <label class="cb-container"> <input type="checkbox" /><span class="text-sm-medium">London Luxe</span><span class="checkmark"></span> </label><span class="number-item">76</span>
                  </li>
                </ul>
                <div class="box-see-more">
                  <a class="link-see-more" href="#">
                    See more
                    <svg width="8" height="6" viewbox="0 0 8 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M7.89553 1.02367C7.75114 0.870518 7.50961 0.864815 7.35723 1.00881L3.9998 4.18946L0.642774 1.00883C0.490387 0.86444 0.249236 0.870534 0.104474 1.02369C-0.0402885 1.17645 -0.0338199 1.4176 0.118958 1.56236L3.73809 4.99102C3.81123 5.06036 3.90571 5.0954 3.9998 5.0954C4.0939 5.0954 4.18875 5.06036 4.26191 4.99102L7.88104 1.56236C8.03382 1.41758 8.04029 1.17645 7.89553 1.02367Z" fill=""></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="background-100 pt-55 pb-55">
    <div class="container">
      <div class="carouselTicker carouselTicker-left box-list-brand-car justify-content-center  wow fadeIn">
        <ul class="carouselTicker__list">
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/lexus.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/lexus-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/mer.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/mer-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/bugatti.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/bugatti-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/jaguar.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/jaguar-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/honda.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/honda-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/chevrolet.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/chevrolet-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/acura.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/acura-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/bmw.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/bmw-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/toyota.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/toyota-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/lexus.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/lexus-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/mer.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/mer-w.png" alt="Carento" />
            </div>
          </li>
          <li class="carouselTicker__item">
            <div class="item-brand">
              <img class="light-mode" src="assets/imgs/page/homepage2/bugatti.png" alt="Carento" />
              <img class="dark-mode" src="assets/imgs/page/homepage2/bugatti-w.png" alt="Carento" />
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
