<!-- testimonials -->
<section class="section-box py-96 background-body">
  <div class="container">
    <div class="row">
      <div class="col-auto mx-auto wow fadeInUp text-center d-flex flex-column align-items-center justify-content-center">
        <div class="box-author-testimonials background-100">
          <img src="assets/imgs/page/homepage1/testimonial.png" alt="Carento" />
          <img src="assets/imgs/page/homepage1/testimonial2.png" alt="Carento" />
          <img src="assets/imgs/page/homepage1/testimonial3.png" alt="Carento" />
          Testimonials
        </div>
        <h3 class="mt-8 mb-15 neutral-1000">What they say about us?</h3>
      </div>
    </div>
  </div>
  <div class="block-testimonials wow fadeIn ps-0 mask-image">
    <div class="container-testimonials ">
      <div class="container-slider ps-0">
        <div class="box-swiper mt-30">
          <div class="swiper-container swiper-group-animate swiper-group-journey">
            <div class="swiper-wrapper">
              <div class="swiper-slide">
                <div class="card-testimonial background-card">
                  <div class="card-info">
                    <p class="text-xl-bold card-title neutral-1000">No Hidden Fees</p>
                    <p class="text-md-regular neutral-500">The attention to detail in the booking process made our trip stress-free, allowing us to focus on creating lasting memories together.</p>
                  </div>
                  <div class="card-top pt-40 border-0 mb-0">
                    <div class="card-author">
                      <div class="card-image"><img src="assets/imgs/testimonials/testimonials-1/author-1.png" alt="Carento" /></div>
                      <div class="card-info">
                        <p class="text-lg-bold neutral-1000">Sophia Moore</p>
                        <p class="text-md-regular neutral-1000">New York</p>
                      </div>
                    </div>
                    <div class="card-rate"><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-testimonial background-card">
                  <div class="card-info">
                    <p class="text-xl-bold card-title neutral-1000">Mobile-Friendly and Fast!</p>
                    <p class="text-md-regular neutral-500">Embarking on our dream vacation was made a breeze through the seamless coordination of items and hotels using this exceptional booking platform.</p>
                  </div>
                  <div class="card-top pt-40 border-0 mb-0">
                    <div class="card-author">
                      <div class="card-image"><img src="assets/imgs/testimonials/testimonials-1/author-2.png" alt="Carento" /></div>
                      <div class="card-info">
                        <p class="text-lg-bold neutral-1000">Atend John</p>
                        <p class="text-md-regular neutral-1000">Paris</p>
                      </div>
                    </div>
                    <div class="card-rate"><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-testimonial background-card">
                  <div class="card-info">
                    <p class="text-xl-bold card-title neutral-1000">Excellent Customer Service</p>
                    <p class="text-md-regular neutral-500">The overall process was not just efficient but also enriching, as the platform's intuitive design and user-friendly interface made every step enjoyable.</p>
                  </div>
                  <div class="card-top pt-40 border-0 mb-0">
                    <div class="card-author">
                      <div class="card-image"><img src="assets/imgs/testimonials/testimonials-1/author-3.png" alt="Carento" /></div>
                      <div class="card-info">
                        <p class="text-lg-bold neutral-1000">Sara Mohamed</p>
                        <p class="text-md-regular neutral-1000">Jakatar</p>
                      </div>
                    </div>
                    <div class="card-rate"><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /></div>
                  </div>
                </div>
              </div>
              <div class="swiper-slide">
                <div class="card-testimonial background-card">
                  <div class="card-info">
                    <p class="text-xl-bold card-title neutral-1000">Highly Flexible and Customizable</p>
                    <p class="text-md-regular neutral-500">The attention to detail in the booking process made our trip stress-free, allowing us to focus on creating lasting memories together.</p>
                  </div>
                  <div class="card-top pt-40 border-0 mb-0">
                    <div class="card-author">
                      <div class="card-image"><img src="assets/imgs/testimonials/testimonials-1/author-1.png" alt="Carento" /></div>
                      <div class="card-info">
                        <p class="text-lg-bold neutral-1000">Sara Mohamed</p>
                        <p class="text-md-regular neutral-1000">Jakatar</p>
                      </div>
                    </div>
                    <div class="card-rate"><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /><img class="background-brand-2 p-1" src="assets/imgs/template/icons/star-black.svg" alt="Carento" /></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
