<!-- categories 1 -->
<section class="section-box background-body py-96">
  <div class="container">
    <div class="row align-items-end mb-40">
      <div class="col-md-8">
        <h3 class="neutral-1000 wow fadeInUp">Browse by Type</h3>
        <p class="text-xl-medium neutral-500 wow fadeInUp">Find the perfect ride for any occasion</p>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-md-end mt-md-0 mt-4">
          <a class="btn btn-primary wow fadeInUp" href="cars-list-1.html">
            View More
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="box-list-populars">
      <div class="row">
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.1s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-1.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">SUV</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">24 Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.2s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-2.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">Hatchback</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">16 Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.3s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-3.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">Sedan</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">150 Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.4s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-4.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">Crossover</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">25 Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.1s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-5.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">Minivan</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">56 Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.2s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-6.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">Coupe</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">25 Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.3s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-7.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">Sport Cars</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">125 Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-sm-6">
          <div class="card-popular background-card hover-up wow fadeIn" data-wow-delay="0.4s">
            <div class="card-image">
              <a class="card-title" href="cars-list-1.html"><img src="assets/imgs/categories/categories-1/car-8.png" alt="Carento" /></a>
            </div>
            <div class="card-info">
              <a class="card-title" href="cars-list-1.html">Pickup Truck</a>
              <div class="card-meta">
                <div class="meta-links"><a href="cars-list-1.html">Vehicles</a></div>
                <div class="card-button">
                  <a href="cars-list-1.html">
                    <svg width="10" height="10" viewbox="0 0 10 10" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M5.00011 9.08347L9.08347 5.00011L5.00011 0.916748M9.08347 5.00011L0.916748 5.00011" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
