<!-- categories 2 -->
<section class="section-box background-body py-96 border-bottom">
  <div class="container">
    <div class="row align-items-end mb-40">
      <div class="col-md-8">
        <h3 class="neutral-1000">Browse by Type</h3>
        <p class="text-xl-medium neutral-500">Find the perfect ride for any occasion</p>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-md-end mt-md-0 mt-4">
          <a class="btn btn-primary" href="cars-list-1.html">
            View All
            <svg width="16" height="16" viewbox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="box-list-populars">
      <div class="row">
        <div class="col-lg-2 col-md-4 col-sm-4 text-center mb-lg-0 mb-3 wow fadeIn" data-wow-delay="0.1s">
          <div class="card-popular background-100 hover-up position-relative">
            <a href="cars-list-2.html" class="card-image border-0"><img src="assets/imgs/categories/categories-2/cross-over.png" alt="Carento" /></a>
            <div class="card-info">
              <div class="card-meta position-absolute top-100 start-50 translate-middle ">
                <div class="meta-links"><a class="background-0" href="cars-list-2.html">24 Vehicles</a></div>
              </div>
            </div>
          </div>
          <a class="card-title text-lg-bold neutral-1000" href="cars-list-1.html">Crossover</a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 text-center mb-lg-0 mb-3 wow fadeIn" data-wow-delay="0.2s">
          <div class="card-popular background-100 hover-up position-relative">
            <a href="cars-list-2.html" class="card-image border-0"><img src="assets/imgs/categories/categories-2/hatchback.png" alt="Carento" /></a>
            <div class="card-info">
              <div class="card-meta position-absolute top-100 start-50 translate-middle ">
                <div class="meta-links"><a class="background-0" href="cars-list-2.html">24 Vehicles</a></div>
              </div>
            </div>
          </div>
          <a class="card-title text-lg-bold neutral-1000" href="cars-list-1.html">Hatchback</a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 text-center mb-lg-0 mb-3 wow fadeIn" data-wow-delay="0.3s">
          <div class="card-popular background-100 hover-up position-relative">
            <a href="cars-list-2.html" class="card-image border-0"><img src="assets/imgs/categories/categories-2/sedan.png" alt="Carento" /></a>
            <div class="card-info">
              <div class="card-meta position-absolute top-100 start-50 translate-middle ">
                <div class="meta-links"><a class="background-0" href="cars-list-2.html">24 Vehicles</a></div>
              </div>
            </div>
          </div>
          <a class="card-title text-lg-bold neutral-1000" href="cars-list-1.html">Sedan</a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 text-center mb-lg-0 mb-3 wow fadeIn" data-wow-delay="0.4s">
          <div class="card-popular background-100 hover-up position-relative">
            <a href="cars-list-2.html" class="card-image border-0"><img src="assets/imgs/categories/categories-2/SUV.png" alt="Carento" /></a>
            <div class="card-info">
              <div class="card-meta position-absolute top-100 start-50 translate-middle ">
                <div class="meta-links"><a class="background-0" href="cars-list-2.html">24 Vehicles</a></div>
              </div>
            </div>
          </div>
          <a class="card-title text-lg-bold neutral-1000" href="cars-list-1.html">SUV</a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 text-center mb-lg-0 mb-3 wow fadeIn" data-wow-delay="0.5s">
          <div class="card-popular background-100 hover-up position-relative">
            <a href="cars-list-2.html" class="card-image border-0"><img src="assets/imgs/categories/categories-2/sport.png" alt="Carento" /></a>
            <div class="card-info">
              <div class="card-meta position-absolute top-100 start-50 translate-middle ">
                <div class="meta-links"><a class="background-0" href="cars-list-2.html">24 Vehicles</a></div>
              </div>
            </div>
          </div>
          <a class="card-title text-lg-bold neutral-1000" href="cars-list-1.html">Sport</a>
        </div>
        <div class="col-lg-2 col-md-4 col-sm-4 text-center mb-lg-0 mb-3 wow fadeIn" data-wow-delay="0.6s">
          <div class="card-popular background-100 hover-up position-relative">
            <a href="cars-list-2.html" class="card-image border-0"><img src="assets/imgs/categories/categories-2/minivan.png" alt="Carento" /></a>
            <div class="card-info">
              <div class="card-meta position-absolute top-100 start-50 translate-middle ">
                <div class="meta-links"><a class="background-0" href="cars-list-2.html">24 Vehicles</a></div>
              </div>
            </div>
          </div>
          <a class="card-title text-lg-bold neutral-1000" href="cars-list-1.html">Minivan</a>
        </div>
      </div>
    </div>
  </div>
</section>
