{% extends 'layouts/vertical.html' %}

{% block title %}Rangslider{% endblock %}

{% block styles %}
<link href="{{ config.ASSETS_ROOT }}/libs/nouislider/nouislider.min.css" rel="stylesheet"/>
{% endblock styles %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
            <h4 class="page-title">UI-Slider</h4>
            <div class="">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Dastone</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item"><a href="#">Advanced UI</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item active">UI-Slider</li>
                </ol>
            </div>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Default Slider</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div id="slider"></div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Only showing tooltips when sliding handles</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div id="slider_2"></div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Using HTML5 input elements</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="mb-3" id="html5"></div>
                <div class="row">
                    <div class="col-3">
                        <select class="form-select" id="input-select"></select>
                    </div>
                    <div class="col-3">
                        <input class="form-control" id="input-number" max="40" min="-20" step="1" type="number"/>
                    </div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Working with dates</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="mb-2" id="slider-date"></div>
                <span class="example-val d-block fw-semibold" id="event-start"></span>
                <span class="example-val d-block fw-semibold" id="event-end"></span>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Skipping steps</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="mb-2" id="skipstep"></div>
                <span class="example-val d-block fw-semibold" id="skip-value-lower"></span>
                <span class="example-val d-block fw-semibold" id="skip-value-upper"></span>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Moving the slider by clicking pips</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body pb-5">
                <div id="slider-pips"></div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Soft limits</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body pb-5">
                <div id="soft"></div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
{% endblock %}

{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/libs/nouislider/nouislider.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/libs/wnumb/wNumb.min.js"></script>
<script src="{{ config.ASSETS_ROOT }}/js/pages/ui-slider.js"></script>

{% endblock javascripts %}
