{% extends 'layouts/vertical.html' %}

{% block title %}Validation{% endblock %}

{% block styles %}

{% endblock styles %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
            <h4 class="page-title">Validation</h4>
            <div class="">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Dastone</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item"><a href="#">Forms</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item active">Validation</li>
                </ol>
            </div>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Bootstrap Custom Styles</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <form class="row g-3 needs-validation" novalidate="">
                    <div class="col-md-4">
                        <label class="form-label" for="validationCustom01">First name</label>
                        <input class="form-control" id="validationCustom01" required="" type="text" value="Mark"/>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="validationCustom02">Last name</label>
                        <input class="form-control" id="validationCustom02" required="" type="text" value="Otto"/>
                        <div class="valid-feedback">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="form-label" for="validationCustomUsername">Username</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="inputGroupPrepend">@</span>
                            <input aria-describedby="inputGroupPrepend" class="form-control"
                                   id="validationCustomUsername" required="" type="text"/>
                            <div class="invalid-feedback">
                                Please choose a username.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <label class="form-label" for="validationCustom03">City</label>
                        <input class="form-control" id="validationCustom03" required="" type="text"/>
                        <div class="invalid-feedback">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="validationCustom04">State</label>
                        <select class="form-select" id="validationCustom04" required="">
                            <option disabled="" selected="" value="">Choose...</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3">
                        <label class="form-label" for="validationCustom05">Zip</label>
                        <input class="form-control" id="validationCustom05" required="" type="text"/>
                        <div class="invalid-feedback">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="form-check">
                            <input class="form-check-input" id="invalidCheck" required="" type="checkbox" value=""/>
                            <label class="form-check-label" for="invalidCheck">
                                Agree to terms and conditions
                            </label>
                            <div class="invalid-feedback">
                                You must agree before submitting.
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form><!--end form-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Validation Tooltips</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <form class="row g-3 needs-validation" novalidate="">
                    <div class="col-md-4 position-relative">
                        <label class="form-label" for="validationTooltip01">First name</label>
                        <input class="form-control" id="validationTooltip01" required="" type="text" value="Mark"/>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label class="form-label" for="validationTooltip02">Last name</label>
                        <input class="form-control" id="validationTooltip02" required="" type="text" value="Otto"/>
                        <div class="valid-tooltip">
                            Looks good!
                        </div>
                    </div>
                    <div class="col-md-4 position-relative">
                        <label class="form-label" for="validationTooltipUsername">Username</label>
                        <div class="input-group has-validation">
                            <span class="input-group-text" id="validationTooltipUsernamePrepend">@</span>
                            <input aria-describedby="validationTooltipUsernamePrepend" class="form-control"
                                   id="validationTooltipUsername" required="" type="text"/>
                            <div class="invalid-tooltip">
                                Please choose a unique and valid username.
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 position-relative">
                        <label class="form-label" for="validationTooltip03">City</label>
                        <input class="form-control" id="validationTooltip03" required="" type="text"/>
                        <div class="invalid-tooltip">
                            Please provide a valid city.
                        </div>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label class="form-label" for="validationTooltip04">State</label>
                        <select class="form-select" id="validationTooltip04" required="">
                            <option disabled="" selected="" value="">Choose...</option>
                            <option>...</option>
                        </select>
                        <div class="invalid-tooltip">
                            Please select a valid state.
                        </div>
                    </div>
                    <div class="col-md-3 position-relative">
                        <label class="form-label" for="validationTooltip05">Zip</label>
                        <input class="form-control" id="validationTooltip05" required="" type="text"/>
                        <div class="invalid-tooltip">
                            Please provide a valid zip.
                        </div>
                    </div>
                    <div class="col-12">
                        <button class="btn btn-primary" type="submit">Submit form</button>
                    </div>
                </form><!--end form-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Custom Validation Form</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <form class="form" id="form-validation-2">
                    <div class="mb-2">
                        <label class="form-label" for="username">Username</label>
                        <input class="form-control" id="username" placeholder="Enter Username" type="text"/>
                        <small>Error Message</small>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="email">Email</label>
                        <input class="form-control" id="email" placeholder="Enter email" type="text"/>
                        <small>Error Message</small>
                    </div>
                    <div class="mb-2">
                        <label class="form-label" for="password">Password</label>
                        <input class="form-control" id="password" placeholder="Enter password" type="password"/>
                        <small>Error Message</small>
                    </div>
                    <div class="mb-3">
                        <label class="form-label" for="password2">Confirm Password</label>
                        <input class="form-control" id="password2" placeholder="Enter password again" type="password"/>
                        <small>Error Message</small>
                    </div>
                    <button class="btn btn-primary" type="submit">Submit form</button>
                </form><!--end form-->
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
{% endblock %}

{% block javascripts %}
<script src="{{ config.ASSETS_ROOT }}/js/pages/form-validation.js"></script>

{% endblock javascripts %}
