{% extends 'layouts/vertical.html' %}

{% block title %}Buttons{% endblock %}

{% block styles %}

{% endblock styles %}

{% block page_content %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box d-md-flex justify-content-md-between align-items-center">
            <h4 class="page-title">Buttons</h4>
            <div class="">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item"><a href="#">Dastone</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item"><a href="#">UI Kit</a>
                    </li><!--end nav-item-->
                    <li class="breadcrumb-item active">Buttons</li>
                </ol>
            </div>
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Default Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-primary" type="button">Primary</button>
                    <button class="btn btn-secondary" type="button">Secondary</button>
                    <button class="btn btn-success" type="button">Success</button>
                    <button class="btn btn-warning" type="button">Warning</button>
                    <button class="btn btn-info" type="button">Info</button>
                    <button class="btn btn-danger" type="button">Danger</button>
                    <button class="btn btn-dark" type="button">Dark</button>
                    <button class="btn btn-light" type="button">Light</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Outline Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-outline-primary" type="button">Primary</button>
                    <button class="btn btn-outline-secondary" type="button">Secondary</button>
                    <button class="btn btn-outline-success" type="button">Success</button>
                    <button class="btn btn-outline-warning" type="button">Warning</button>
                    <button class="btn btn-outline-info" type="button">Info</button>
                    <button class="btn btn-outline-danger" type="button">Danger</button>
                    <button class="btn btn-outline-dark" type="button">Dark</button>
                    <button class="btn btn-outline-light" type="button">Light</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Round Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn rounded-pill btn-primary" type="button">Primary</button>
                    <button class="btn rounded-pill btn-secondary" type="button">Secondary</button>
                    <button class="btn rounded-pill btn-success" type="button">Success</button>
                    <button class="btn rounded-pill btn-warning" type="button">Warning</button>
                    <button class="btn rounded-pill btn-info" type="button">Info</button>
                    <button class="btn rounded-pill btn-danger" type="button">Danger</button>
                    <button class="btn rounded-pill btn-dark" type="button">Dark</button>
                    <button class="btn rounded-pill btn-light" type="button">Light</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Round Outline Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn rounded-pill btn-outline-primary" type="button">Primary</button>
                    <button class="btn rounded-pill btn-outline-secondary" type="button">Secondary</button>
                    <button class="btn rounded-pill btn-outline-success" type="button">Success</button>
                    <button class="btn rounded-pill btn-outline-warning" type="button">Warning</button>
                    <button class="btn rounded-pill btn-outline-info" type="button">Info</button>
                    <button class="btn rounded-pill btn-outline-danger" type="button">Danger</button>
                    <button class="btn rounded-pill btn-outline-dark" type="button">Dark</button>
                    <button class="btn rounded-pill btn-outline-light" type="button">Light</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Buttons Sizes</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-lg btn-primary" type="button">Primary</button>
                    <button class="btn btn-secondary" type="button">Secondary</button>
                    <button class="btn btn-sm btn-dark" type="button">Dark</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Outline Buttons Sizes</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-lg btn-outline-primary" type="button">Primary</button>
                    <button class="btn btn-outline-secondary" type="button">Secondary</button>
                    <button class="btn btn-sm btn-outline-dark" type="button">Dark</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Disabled Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-primary" disabled="" type="button">Primary</button>
                    <button class="btn btn-secondary" disabled="" type="button">Secondary</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Disabled Outline Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-outline-primary" disabled="" type="button">Primary</button>
                    <button class="btn btn-outline-secondary" disabled="" type="button">Secondary</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Block Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-primary w-100" type="button">Primary</button>
                    <button class="btn btn-secondary w-100" type="button">Secondary</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Block Outline Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="button-items">
                    <button class="btn btn-outline-primary w-100" type="button">Primary</button>
                    <button class="btn btn-outline-secondary w-100" type="button">Secondary</button>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
<div class="row justify-content-center">
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Check And Radio Buttons</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div aria-label="Basic checkbox toggle button group" class="btn-group mb-2 mb-lg-0" role="group">
                    <input autocomplete="off" class="btn-check" id="btncheck1" type="checkbox"/>
                    <label class="btn btn-outline-primary" for="btncheck1">Checkbox 1</label>
                    <input autocomplete="off" class="btn-check" id="btncheck2" type="checkbox"/>
                    <label class="btn btn-outline-primary" for="btncheck2">Checkbox 2</label>
                    <input autocomplete="off" class="btn-check" id="btncheck3" type="checkbox"/>
                    <label class="btn btn-outline-primary" for="btncheck3">Checkbox 3</label>
                </div>
                <div aria-label="Basic radio toggle button group" class="btn-group float-end" role="group">
                    <input autocomplete="off" checked="" class="btn-check" id="btnradio1" name="btnradio" type="radio"/>
                    <label class="btn btn-outline-secondary" for="btnradio1">Radio 1</label>
                    <input autocomplete="off" class="btn-check" id="btnradio2" name="btnradio" type="radio"/>
                    <label class="btn btn-outline-secondary" for="btnradio2">Radio 2</label>
                    <input autocomplete="off" class="btn-check" id="btnradio3" name="btnradio" type="radio"/>
                    <label class="btn btn-outline-secondary" for="btnradio3">Radio 3</label>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Button Group</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="btn-group-vertical">
                    <button class="btn btn-primary" type="button">Button 1</button>
                    <button class="btn btn-primary" type="button">Button 2</button>
                    <button aria-expanded="false" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"
                            type="button"> Button 3 <span class="caret"></span></button>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">Dropdown link</a>
                        <a class="dropdown-item" href="#">Dropdown link</a>
                    </div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
    <div class="col-md-6 col-lg-6">
        <div class="card">
            <div class="card-header">
                <div class="row align-items-center">
                    <div class="col">
                        <h4 class="card-title">Button Group</h4>
                    </div><!--end col-->
                </div> <!--end row-->
            </div><!--end card-header-->
            <div class="card-body">
                <div class="mb-3">
                    <div aria-label="Basic example" class="btn-group" role="group">
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-align-left"></i>
                        </button>
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-align-center"></i>
                        </button>
                        <button class="btn btn-outline-secondary" type="button"><i class="fa fa-align-right"></i>
                        </button>
                    </div>
                </div>
                <div class="mb-3">
                    <div aria-label="Basic example" class="btn-group" role="group">
                        <button class="btn btn-outline-secondary" type="button"><i class="las la-play"></i></button>
                        <button class="btn btn-outline-primary active" type="button"><i class="las la-pause"></i>
                        </button>
                        <button class="btn btn-outline-secondary" type="button"><i class="las la-stop"></i></button>
                    </div>
                </div>
                <div class="mb-3">
                    <div aria-label="Basic example" class="btn-group" role="group">
                        <button class="btn btn-outline-secondary" type="button">Left</button>
                        <button class="btn btn-outline-secondary" type="button">Middle</button>
                        <button class="btn btn-outline-secondary" type="button">Right</button>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" type="button">1</button>
                        <button class="btn btn-outline-secondary" type="button">2</button>
                        <button class="btn btn-primary active" type="button">3</button>
                        <button class="btn btn-outline-secondary" type="button">4</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" type="button">5</button>
                        <button class="btn btn-primary active" type="button">6</button>
                        <button class="btn btn-outline-secondary" type="button">7</button>
                    </div>
                    <div class="btn-group">
                        <button class="btn btn-outline-secondary" type="button">8</button>
                    </div>
                </div>
            </div><!--end card-body-->
        </div><!--end card-->
    </div> <!--end col-->
</div><!--end row-->
{% endblock %}

{% block javascripts %}

{% endblock javascripts %}
