<!-- hero 1 -->
<section class="box-section block-banner-home1 position-relative">
  <div class="container position-relative z-1">
    <p class="text-primary text-md-bold wow fadeInUp">Find Your Perfect Car</p>
    <h1 class="color-white mb-35 wow fadeInUp">Looking for a vehicle? <br class="d-none d-lg-block" />You’re in the perfect spot.</h1>
    <ul class="list-ticks-green">
      <li class="wow fadeInUp" data-wow-delay="0.1s">High quality at a low cost.</li>
      <li class="wow fadeInUp" data-wow-delay="0.2s">Premium services</li>
      <li class="wow fadeInUp" data-wow-delay="0.4s">24/7 roadside support.</li>
    </ul>
  </div>
  <div class="bg-shape z-0"></div>
</section>
