<!--User dashboard home content-->
<div class="alert alert-info alert-dismissible d-flex align-items-center border-0 mb-4 fade show  wow fadeInDown mb-4">
    <i class="fi fi-rr-info me-2 mt-1"></i>
    <p class="mb-0">
        Grand opening promotion ends in 3 hours. Hurry up and book your car!
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<!--notifications & recent bookings-->
<div class="row">
    <!-- Booking -->
    <div class="col-xl-12 d-flex">
        <div class="card shadow-none flex-fill">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="neutral-1000 text-md-bold fs-5">Booking List</span>
                    <div class="fillter d-flex gap-2">
                        <div class="input-icon-start position-relative">
                            <span class="icon-addon">
                                <i class="fi fi-rr-search"></i>
                            </span>
                            <input type="text" class="input-small" placeholder="Search">
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                <i class="fi fi-rr-steering-wheel me-2"></i>Car type
                            </a>
                            <ul class="dropdown-menu small dropdown-menu-end p-2">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Sedan
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Coupe
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Hatchback
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                <i class="fi fi-rr-filter-list me-2"></i>Sort
                            </a>
                            <ul class="dropdown-menu small dropdown-menu-end p-2">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Newest
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Oldest
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Paid
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Unpaid
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Cancelled
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="card shadow-none mb-2">

                    <div class="table-responsive">
                        <table class="table datatable table-striped">
                            <thead class="thead-light">
                                <tr>
                                    <th>ID</th>
                                    <th>Car &amp; Type</th>
                                    <th>Travellers</th>
                                    <th>Days</th>
                                    <th>Price</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-2356</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-1.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Volkswagen Amarok</a>
                                                </p>
                                                <span class="fs-14 fw-normal neutral-500">Sedan</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>2 Adults, 1 Child</td>
                                    <td>4 Days</td>
                                    <td>$1,569</td>
                                    <td>15 May 2025</td>
                                    <td>
                                        <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Upcoming</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#upcoming"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-2356</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-2.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Toyota Camry SE 400</a>
                                                </p>
                                                <span class="fs-14 fw-normal neutral-500">Hatchback</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        2 Adults, 2 Child
                                    </td>
                                    <td>3 Days</td>
                                    <td>$1,745</td>
                                    <td>20 May 2025</td>
                                    <td>
                                        <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Upcoming</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#upcoming"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-6536</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-3.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Ford Mustang 4.0 AT</a>
                                                </p>
                                                <span class="fs-14 fw-normal neutral-500">Coupe</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        2 Adults, 1 Child
                                    </td>
                                    <td>2 Days</td>
                                    <td>$2,160</td>
                                    <td>04 Jun 2025</td>
                                    <td>
                                        <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Upcoming</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#upcoming"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-8677</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-4.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Ferrari 458 MM
                                                        Special</a></p>
                                                <span class="fs-14 fw-normal neutral-500">SUV</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        1 Adult, 1 Child
                                    </td>
                                    <td>2 Days</td>
                                    <td>$1,840</td>
                                    <td>17 Jun 2025</td>
                                    <td>
                                        <span class="badge badge-warning rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Pending</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#pending"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-5654</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-5.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">&nbsp;Mercedes-benz
                                                    </a></p>
                                                <span class="fs-14 fw-normal neutral-500">Sports</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        2 Adults, 1 Child
                                    </td>
                                    <td>3 Days</td>
                                    <td>$1,450</td>
                                    <td>25 Jun 2025</td>
                                    <td>
                                        <span class="badge badge-info rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Upcoming</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#upcoming"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-3243</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-6.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">BMW
                                                        3.0 Gran
                                                        Turismo</a></p>
                                                <span class="fs-14 fw-normal neutral-500">Hatchback</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        3 Adults, 2 Child
                                    </td>
                                    <td>4 Days</td>
                                    <td>$1,600</td>
                                    <td>02 Jul 2025</td>
                                    <td>
                                        <span class="badge badge-danger rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Cancelled</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#cancelled"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-5236</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-7.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Infiniti QX60 </a></p>
                                                <span class="fs-14 fw-normal neutral-500">Hatchback</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        2 Adults, 2 Child
                                    </td>
                                    <td>5 Days</td>
                                    <td>$2,380</td>
                                    <td>12 Jul 2025</td>
                                    <td>
                                        <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Completed</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#completed"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-1256</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-8.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Toyota 86 Coupe</a></p>
                                                <span class="fs-14 fw-normal neutral-500">Sedan</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        2 Adults, 1 Child
                                    </td>
                                    <td>3 Days</td>
                                    <td>$1,400</td>
                                    <td>26 Jul 2025</td>
                                    <td>
                                        <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Completed</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#completed"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-2356</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-9.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Jeep Wrangler</a></p>
                                                <span class="fs-14 fw-normal neutral-500">Coupe</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        2 Adults, 2 Child
                                    </td>
                                    <td>2 Days</td>
                                    <td>$1,810</td>
                                    <td>10 Aug 2025</td>
                                    <td>
                                        <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Completed</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#completed"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr>
                                    <td><a href="javascript:void(0);" class="text-primary-dark fw-medium">#CR-5414</a>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="cars-details-1.html" class="avatar avatar-lg"><img src="assets/imgs/cars-listing/cars-listing-6/car-10.png" class="img-fluid" alt="img"></a>
                                            <div class="ms-2">
                                                <p class="text-dark mb-0 fw-medium fs-14"><a href="cars-details-1.html">Jaguar XK</a></p>
                                                <span class="fs-14 fw-normal neutral-500">Sedan</span>
                                            </div>
                                        </div>
                                    </td>
                                    <td>
                                        3 Adults, 1 Child
                                    </td>
                                    <td>2 Days</td>
                                    <td>$1,450</td>
                                    <td>22 Aug 2025</td>
                                    <td>
                                        <span class="badge badge-success rounded-pill d-inline-flex align-items-center fs-10"><i class="fi fi-rr-caret-right me-1"></i>Completed</span>
                                    </td>
                                    <td>
                                        <div class="d-flex align-items-center">
                                            <a href="javascript:void(0);" data-bs-toggle="modal" data-bs-target="#completed"><i class="fi fi-rr-arrow-up-right-from-square"></i></a>
                                        </div>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <nav aria-label="Page navigation example">
                        <ul class="pagination">
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Previous">
                                    <span aria-hidden="true">
                                        <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link active" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">4</a></li>
                            <li class="page-item"><a class="page-link" href="#">5</a></li>
                            <li class="page-item"><a class="page-link" href="#">...</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#" aria-label="Next">
                                    <span aria-hidden="true">
                                        <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                        </svg>
                                    </span>
                                </a>
                            </li>
                        </ul>
                    </nav>

                </div>
            </div>
        </div>
    </div>
    <!-- /Booking -->

</div>