<div class="row">
    <!-- Booking -->
    <div class="col-xl-12">
        <div class="card shadow-none flex-fill mb-3">
            <div class="card-header">
                <p class="neutral-1000 text-md-bold fs-5 py-1">Update your profile</p>
            </div>
            <div class="card-body">
                <div class="box-avatar-profile d-flex align-items-center">
                    <div class="image-avatar me-3">
                        <img src="assets/imgs/section-1/img-2.png" alt="Travilla">
                    </div>
                    <button class="btn btn-primary me-3">Change avatar</button>
                    <i class="fi fi-rr-trash"></i>
                </div>

                <div class="row mt-3">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Full Name *</label>
                            <input class="form-control" type="text" placeholder="Steven Job">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Email *</label>
                            <input class="form-control" type="text" placeholder="stevenjob@gmail.com">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Contact number *</label>
                            <input class="form-control" type="text" placeholder="Contact number" value="01 - 234 567 89">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Personal website</label>
                            <input class="form-control" type="text" placeholder="https://alithemes.com">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Bio</label>
                            <textarea class="form-control" placeholder="Your comment" rows="6">We are AliThemes , a creative and dedicated group of individuals who love web development almost as much as we love our customers. We are passionate team with the mission for achieving the perfection in web design.</textarea>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Languages</label>
                            <input class="form-control" type="text" placeholder="" value="English, French">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Nationality</label>
                            <input class="form-control" type="text" placeholder="Tour Experience" value="France">
                        </div>
                    </div>
                </div>
                <div class="box-button-save mt-15">
                    <button class="btn btn-primary">Save Changes</button>
                </div>
            </div>

        </div>

        <div class="card shadow-none flex-fill mb-3">
            <div class="card-header">
                <p class="neutral-1000 text-md-bold fs-5 py-1">Contact Information</p>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Country</label>
                            <input class="form-control" type="text" placeholder="Country" value="United States of America">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">City</label>
                            <input class="form-control" type="text" placeholder="City" value="Chicago">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Complete Address</label>
                            <input class="form-control" type="text" placeholder="Complete Address" value="205 North Michigan Avenue, Suite 810, Chicago, 60601, USA">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Find On Map</label>
                            <input class="form-control" type="text" placeholder="Find On Map" value="205 North Michigan Avenue, Suite 810, Chicago, 60601, USA">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Latitude</label>
                            <input class="form-control" type="text" placeholder="Address">
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Longitude</label>
                            <input class="form-control" type="text" placeholder="Address 2">
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="form-group">
                            <label class="text-sm-medium neutral-500 mb-10">Google Map</label>
                            <div class="map-tour">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d120835.65146929219!2d2.5873635107259836!3d47.992147406516835!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47e5878d50e09eab%3A0x40b82c3688c4a20!2s77460%20Souppes-sur-Loing%2C%20Ph%C3%A1p!5e0!3m2!1svi!2s!4v1715095452879!5m2!1svi!2s" width="100%" height="363" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                        </div>
                    </div>
                </div>


                <div class="box-button-save mt-15">
                    <button class="btn btn-primary">Save Changes</button>
                </div>
            </div>

        </div>


        <div class="row">
            <div class="col-lg-6">
                <div class="card shadow-none flex-fill ">
                    <div class="card-header">
                        <p class="neutral-1000 text-md-bold fs-5 py-1">Social Network</p>
                    </div>

                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="lbl-checkbox text-sm-medium neutral-500">Facebook</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="https://www.facebook.com">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="lbl-checkbox text-sm-medium neutral-500">Twitter</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="https://twitter.com">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="lbl-checkbox text-sm-medium neutral-500">Instagram</label>
                                <div class="form-group">
                                    <input class="form-control" type="text" placeholder="https://www.instagram.com">
                                </div>
                            </div>
                        </div>

                        <div class="box-button-save mt-15">
                            <button class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card shadow-none flex-fill ">
                    <div class="card-header">
                        <p class="neutral-1000 text-md-bold fs-5 py-1">Change Password</p>
                    </div>

                    <div class="card-body">
                        <div class="row mb-3">
                            <div class="col-lg-12">
                                <label class="lbl-checkbox text-sm-medium neutral-500">Old Password</label>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="*************">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="lbl-checkbox text-sm-medium neutral-500">New Password</label>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="*************">
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <label class="lbl-checkbox text-sm-medium neutral-500">Confirm new password</label>
                                <div class="form-group">
                                    <input class="form-control" type="password" placeholder="*************">
                                </div>
                            </div>
                        </div>
                        <div class="box-button-save mt-15">
                            <button class="btn btn-primary">Save Changes</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- /Booking -->

</div>