<div class="row">
    <!-- Booking -->
    <div class="col-xl-12">
        <div class="card shadow-none flex-fill mb-3">
            <div class="card-body">
                <p class="neutral-1000 text-md-bold fs-5 mb-3">Notifications</p>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <p class="fw-bold fs-6">Booking Confirmations</p>
                        <p class="neutral-500">Instant notifications for flight, hotel, or activity bookings</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex gap-5">
                            <div class="da">
                                <label class="fw-bold" for="check1">SMS</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check1" checked>
                                </div>
                            </div>

                            <div class="da">
                                <label class="fw-bold" for="check2">Email</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check2" checked>
                                </div>
                            </div>

                            <div class="da">
                                <label class="fw-bold" for="check3">Push</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6">
                        <p class="fw-bold fs-6">Policy</p>
                        <p class="neutral-500">Stay informed about changes to our guidelines, rules and initiatives</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex gap-5">
                            <div class="da">
                                <label class="fw-bold" for="check1">SMS</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check1" checked>
                                </div>
                            </div>

                            <div class="da">
                                <label class="fw-bold" for="check2">Email</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check2" checked>
                                </div>
                            </div>

                            <div class="da">
                                <label class="fw-bold" for="check3">Push</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6">
                        <p class="fw-bold fs-6">Promotions</p>
                        <p class="neutral-500">Updates on upcoming offers and promotions</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="d-flex gap-5">
                            <div class="da">
                                <label class="fw-bold" for="check1">SMS</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check1" checked>
                                </div>
                            </div>

                            <div class="da">
                                <label class="fw-bold" for="check2">Email</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check2" checked>
                                </div>
                            </div>

                            <div class="da">
                                <label class="fw-bold" for="check3">Push</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="card shadow-none flex-fill">
            <div class="card-body">
                <p class="neutral-1000 text-md-bold fs-5 mb-3">Partner Platform (API Connectivity)</p>
            </div>

            <div class="card-body">
                <div class="row mb-3">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <div class="image-logo">
                                <img src="assets/imgs/dashboard/logo-google.svg" alt="carento">
                            </div>
                            <div class="ms-3">
                                <p class="fw-bold fs-6">Google</p>
                                <p class="neutral-500">Get notifications for upcoming trips or events.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-4">
                                <label class="fw-bold" for="check1">Google API</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check1">
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="fw-bold" for="check2">Google Calendar</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check2" checked>
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="fw-bold" for="check3">Google Maps</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6">
                        <div class="d-flex align-items-center">
                            <div class="image-logo">
                                <img src="assets/imgs/dashboard/logo-amazon.svg" alt="carento">
                            </div>
                            <div class="ms-3">
                                <p class="fw-bold fs-6">Amazone</p>
                                <p class="neutral-500">Amazon API Gateway helps you build HTTP, REST, and WebSocket APIs with a fully managed service</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-4">
                                <label class="fw-bold" for="check1">API Gateway</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check1" checked>
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="fw-bold" for="check2">AWS</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check2">
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="fw-bold" for="check3">SP-API</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row mb-3">
                    <div class="col-lg-6">

                        <div class="d-flex align-items-center">
                            <div class="image-logo">
                                <img class="w-75" src="assets/imgs/dashboard/logo-facebook.svg" alt="carento">
                            </div>
                            <div class="ms-3">
                                <p class="fw-bold fs-6">Facebook</p>
                                <p class="neutral-500">FB API offers a robust solution for extracting valuable data like posts and comments</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-4">
                                <label class="fw-bold" for="check1">Data API</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check1" checked>
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="fw-bold" for="check2">Map API</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check2" checked>
                                </div>
                            </div>

                            <div class="col-4">
                                <label class="fw-bold" for="check3">Graph API</label>
                                <div class="form-check form-switch">
                                    <input class="form-check-input" type="checkbox" role="switch" id="check3">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="box-button-save mt-15">
                    <button class="btn btn-primary">Save Changes</button>
                </div>
            </div>

        </div>
    </div>
    <!-- /Booking -->

</div>