<!--notifications & recent bookings-->
<div class="row">
    <!-- Booking -->
    <div class="col-xl-12 d-flex">
        <div class="card shadow-none flex-fill">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="neutral-1000 text-md-bold fs-5">My Wishlist</span>
                    <div class="fillter d-flex gap-2">
                        <div class="input-icon-start position-relative">
                            <span class="icon-addon">
                                <i class="fi fi-rr-search"></i>
                            </span>
                            <input type="text" class="input-small" placeholder="Search">
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                <i class="fi fi-rr-steering-wheel me-2"></i>Car type
                            </a>
                            <ul class="dropdown-menu small dropdown-menu-end p-2">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Sedan
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Coupe
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Hatchback
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                <i class="fi fi-rr-filter-list me-2"></i>Sort
                            </a>
                            <ul class="dropdown-menu small dropdown-menu-end p-2">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Newest
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Oldest
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Paid
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Unpaid
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Cancelled
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row box-grid-hotels">
                    <div class="col-xl-12 col-lg-12">
                        <div class="card-flight card-hotel card-property background-card border">
                            <div class="card-image">
                                <a href="cars-details-3.html"><img src="assets/imgs/cars-listing/cars-listing-9/car-list.png" alt="Carento" /></a>
                            </div>
                            <div class="card-info p-md-40 p-3">
                                <label class="sale-lbl">-25%</label>
                                <div class="tour-rate">
                                    <div class="rate-element">
                                        <span class="rating">4.96 <span class="text-sm-medium neutral-500">(672
                                                reviews)</span></span>
                                    </div>
                                </div>
                                <div class="card-title"><a class="heading-6 neutral-1000" href="cars-details-3.html">Mini Cooper S Hardtop 2 Door</a></div>
                                <div class="card-program">
                                    <div class="card-location mb-25">
                                        <p class="text-location text-md-medium neutral-500">Manchester, England</p>
                                    </div>
                                    <div class="card-facilities">
                                        <div class="item-facilities">
                                            <p class="room text-md-medium neutral-1000">Unlimited mileage</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="size text-md-medium neutral-1000">Automatic</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="parking text-md-medium neutral-1000">3 Large bags</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bed text-md-medium neutral-1000">Diesel</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bathroom text-md-medium neutral-1000">7 seats</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="pet text-md-medium neutral-1000">SUVs</p>
                                        </div>
                                    </div>
                                    <div class="endtime">
                                        <div class="card-price">
                                            <p class="text-md-medium neutral-500 mr-5">From</p>
                                            <h6 class="heading-6 neutral-1000">$202.87</h6>
                                            <p class="text-md-medium neutral-500">/ night</p>
                                        </div>
                                        <div class="card-button"><a class="btn btn-primary" href="cars-details-3.html">Book
                                                Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <div class="card-flight card-hotel card-property background-card border">
                            <div class="card-image">
                                <a href="cars-details-3.html"><img src="assets/imgs/cars-listing/cars-listing-9/car-list2.png" alt="Carento" /></a>
                            </div>
                            <div class="card-info p-md-40 p-3">
                                <label class="sale-lbl">-25%</label>
                                <div class="tour-rate">
                                    <div class="rate-element">
                                        <span class="rating">4.96 <span class="text-sm-medium neutral-500">(672
                                                reviews)</span></span>
                                    </div>
                                </div>
                                <div class="card-title"><a class="heading-6 neutral-1000" href="cars-details-3.html">Volvo XC90 T6 Inscription</a></div>
                                <div class="card-program">
                                    <div class="card-location mb-25">
                                        <p class="text-location text-md-medium neutral-500">Manchester, England</p>
                                    </div>
                                    <div class="card-facilities">
                                        <div class="item-facilities">
                                            <p class="room text-md-medium neutral-1000">Unlimited mileage</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="size text-md-medium neutral-1000">Automatic</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="parking text-md-medium neutral-1000">3 Large bags</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bed text-md-medium neutral-1000">Diesel</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bathroom text-md-medium neutral-1000">7 seats</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="pet text-md-medium neutral-1000">SUVs</p>
                                        </div>
                                    </div>
                                    <div class="endtime">
                                        <div class="card-price">
                                            <p class="text-md-medium neutral-500 mr-5">From</p>
                                            <h6 class="heading-6 neutral-1000">$778.35</h6>
                                            <p class="text-md-medium neutral-500">/ night</p>
                                        </div>
                                        <div class="card-button"><a class="btn btn-primary" href="cars-details-3.html">Book
                                                Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <div class="card-flight card-hotel card-property background-card border">
                            <div class="card-image">
                                <a href="cars-details-3.html"><img src="assets/imgs/cars-listing/cars-listing-9/car-list3.png" alt="Carento" /></a>
                            </div>
                            <div class="card-info p-md-40 p-3">
                                <label class="sale-lbl">-25%</label>
                                <div class="tour-rate">
                                    <div class="rate-element">
                                        <span class="rating">4.96 <span class="text-sm-medium neutral-500">(672
                                                reviews)</span></span>
                                    </div>
                                </div>
                                <div class="card-title"><a class="heading-6 neutral-1000" href="cars-details-3.html">Cadillac Escalade ESV Premium Luxury</a></div>
                                <div class="card-program">
                                    <div class="card-location mb-25">
                                        <p class="text-location text-md-medium neutral-500">Manchester, England</p>
                                    </div>
                                    <div class="card-facilities">
                                        <div class="item-facilities">
                                            <p class="room text-md-medium neutral-1000">Unlimited mileage</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="size text-md-medium neutral-1000">Automatic</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="parking text-md-medium neutral-1000">3 Large bags</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bed text-md-medium neutral-1000">Diesel</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bathroom text-md-medium neutral-1000">7 seats</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="pet text-md-medium neutral-1000">SUVs</p>
                                        </div>
                                    </div>
                                    <div class="endtime">
                                        <div class="card-price">
                                            <p class="text-md-medium neutral-500 mr-5">From</p>
                                            <h6 class="heading-6 neutral-1000">$779.58</h6>
                                            <p class="text-md-medium neutral-500">/ night</p>
                                        </div>
                                        <div class="card-button"><a class="btn btn-primary" href="cars-details-3.html">Book
                                                Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <div class="card-flight card-hotel card-property background-card border">
                            <div class="card-image">
                                <a href="cars-details-3.html"><img src="assets/imgs/cars-listing/cars-listing-9/car-list4.png" alt="Carento" /></a>
                            </div>
                            <div class="card-info p-md-40 p-3">
                                <label class="sale-lbl">-25%</label>
                                <div class="tour-rate">
                                    <div class="rate-element">
                                        <span class="rating">4.96 <span class="text-sm-medium neutral-500">(672
                                                reviews)</span></span>
                                    </div>
                                </div>
                                <div class="card-title"><a class="heading-6 neutral-1000" href="cars-details-3.html">Honda Civic Si Coupe</a></div>
                                <div class="card-program">
                                    <div class="card-location mb-25">
                                        <p class="text-location text-md-medium neutral-500">Manchester, England</p>
                                    </div>
                                    <div class="card-facilities">
                                        <div class="item-facilities">
                                            <p class="room text-md-medium neutral-1000">Unlimited mileage</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="size text-md-medium neutral-1000">Automatic</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="parking text-md-medium neutral-1000">3 Large bags</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bed text-md-medium neutral-1000">Diesel</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bathroom text-md-medium neutral-1000">7 seats</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="pet text-md-medium neutral-1000">SUVs</p>
                                        </div>
                                    </div>
                                    <div class="endtime">
                                        <div class="card-price">
                                            <p class="text-md-medium neutral-500 mr-5">From</p>
                                            <h6 class="heading-6 neutral-1000">$601.13</h6>
                                            <p class="text-md-medium neutral-500">/ night</p>
                                        </div>
                                        <div class="card-button"><a class="btn btn-primary" href="cars-details-3.html">Book
                                                Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-12 col-lg-12">
                        <div class="card-flight card-hotel card-property background-card border">
                            <div class="card-image">
                                <a href="cars-details-3.html"><img src="assets/imgs/cars-listing/cars-listing-9/car-list5.png" alt="Carento" /></a>
                            </div>
                            <div class="card-info p-md-40 p-3">
                                <label class="sale-lbl">-25%</label>
                                <div class="tour-rate">
                                    <div class="rate-element">
                                        <span class="rating">4.96 <span class="text-sm-medium neutral-500">(672
                                                reviews)</span></span>
                                    </div>
                                </div>
                                <div class="card-title"><a class="heading-6 neutral-1000" href="cars-details-3.html">Kia
                                        Telluride SX</a></div>
                                <div class="card-program">
                                    <div class="card-location mb-25">
                                        <p class="text-location text-md-medium neutral-500">Manchester, England</p>
                                    </div>
                                    <div class="card-facilities">
                                        <div class="item-facilities">
                                            <p class="room text-md-medium neutral-1000">Unlimited mileage</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="size text-md-medium neutral-1000">Automatic</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="parking text-md-medium neutral-1000">3 Large bags</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bed text-md-medium neutral-1000">Diesel</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="bathroom text-md-medium neutral-1000">7 seats</p>
                                        </div>
                                        <div class="item-facilities">
                                            <p class="pet text-md-medium neutral-1000">SUVs</p>
                                        </div>
                                    </div>
                                    <div class="endtime">
                                        <div class="card-price">
                                            <p class="text-md-medium neutral-500 mr-5">From</p>
                                            <h6 class="heading-6 neutral-1000">$450.54</h6>
                                            <p class="text-md-medium neutral-500">/ night</p>
                                        </div>
                                        <div class="card-button"><a class="btn btn-primary" href="cars-details-3.html">Book
                                                Now</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">
                                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">
                                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /Booking -->

</div>