<!-- dealer listing -->
<section class="box-section background-body py-96 border-bottom">
  <div class="container">
    <div class="row align-items-end">
      <div class="col-md-8">
        <h4 class="neutral-1000">Our Vehicle Fleet</h3>
        <p class="text-lg-medium neutral-500">Turning dreams into reality with versatile vehicles.</p>
      </div>
      <div class="col-md-4">
        <div class="d-flex justify-content-end mt-md-0 mt-4">
          <a class="btn btn-primary rounded-3" href="cars-list-1.html">
            Become a renter
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
    <div class="row mt-60">
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-1.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Opel Manchester</a>
              <p class="text-md-medium neutral-500">123 Kingsway Strandeif, Manchester, M19 2XS</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-2.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">BMW Birmingham</a>
              <p class="text-md-medium neutral-500">45 Solihull Road, Birmingham, B91 2DA</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-3.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Toyota London</a>
              <p class="text-md-medium neutral-500">78 High Street Nomawal, London, E1 6RL</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-4.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Ford Glasgow</a>
              <p class="text-md-medium neutral-500">15 Buchanan Street, 
                Glasgow, G1 3HL</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-5.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Volkswagen Leeds</a>
              <p class="text-md-medium neutral-500">230 block 90 Kirkstall Road, Leeds, LS3 1HS</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-6.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Honda Edinburgh</a>
              <p class="text-md-medium neutral-500">62 Princes Street,
                Edinburgh, EH2 4AD</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-7.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Nissan Bristol</a>
              <p class="text-md-medium neutral-500">11 Clifton Down Road, 
                Bristol, BS8 4AB</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-8.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Kia Liverpool</a>
              <p class="text-md-medium neutral-500">29 Hope Street, 
                Liverpool, L1 9BX</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-9.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Peugeot Sheffield</a>
              <p class="text-md-medium neutral-500">Block 123 / 90 Kirkstall Road, Leeds, LS3 1HS</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-10.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Volvo Oxford</a>
              <p class="text-md-medium neutral-500">45 Solihull Road, Birmingham, B91 2DA</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-11.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Mazda Southampton</a>
              <p class="text-md-medium neutral-500">123 Kingsway Strandeif, Manchester, M19 2XS</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-12.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Land Rover Norwich</a>
              <p class="text-md-medium neutral-500">45 Solihull Road, Birmingham, B91 2DA</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-13.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Jeep Nottingham</a>
              <p class="text-md-medium neutral-500">123 Kingsway Strandeif, Manchester, M19 2XS</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-2.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">BMW Manchester</a>
              <p class="text-md-medium neutral-500">11 Clifton Down Road, 
                Bristol, BS8 4AB</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-4 col-sm-6">
        <div class="card-contact card-dealer d-flex">
          <div class="card-image me-3">
            <div class="position-relative">
              <img src="assets/imgs/dealer/dealer-listing/icon-4.svg" alt="Carento">
            </div>
          </div>
          <div class="card-info">
            <div class="card-title">
              <a class="title heading-6" href="dealer-details.html">Ford Manchester</a>
              <p class="text-md-medium neutral-500">123 Kingsway Strandeif, Manchester, M19 2XS</p>
            </div>
            <div class="card-method-contact2">
              <a class="email text-xs-bold" href="cars-list-1.html">
                180 Vehicles
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Previous">
            <span aria-hidden="true">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link active" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">4</a></li>
        <li class="page-item"><a class="page-link" href="#">5</a></li>
        <li class="page-item"><a class="page-link" href="#">...</a></li>
        <li class="page-item">
          <a class="page-link" href="#" aria-label="Next">
            <span aria-hidden="true">
              <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</section>
