<!-- app -->
<section class="box-app-2 position-relative pb-80">
  <div class="container bg-4 rounded-12 overflow-hidden">
    <div class="row align-items-center">
      <div class="col-lg-6 p-5">
        <span class="btn btn-primary background-brand-2">Download Apps</span>
        <h4 class="mt-4 mb-3 neutral-1000">
          Get 15% off when <br />
          ordering on the App
        </h4>
        <p class="text-md-medium pb-3 neutral-500">
          Manage all your car rentals on the go <br />
          with the Carento app
        </p>
        <div class="download-apps mt-0">
          <a href="#">
            <img src="assets/imgs/template/googleplay.png" alt="Carento" />
          </a>
          <a href="#">
            <img src="assets/imgs/template/appstore.png" alt="Carento" />
          </a>
        </div>
      </div>
      <div class="col-lg-6 px-0 align-self-stretch">
        <img class="w-100 h-100 img-fluid d-none d-lg-block" src="assets/imgs/app/app-1/background-1.png" alt="Carento" />
      </div>
    </div>
  </div>
</section>
