<!-- app -->
<section class="box-app position-relative">
  <div class="container position-relative z-1">
    <div class="row align-items-center py-5">
      <div class="col-lg-5">
        <h4 class=" wow fadeInDown">Carento App is Available</h4>
        <p class="text-md-medium pb-3 wow fadeInUp">Manage all your car rentals on the go with the Carento app</p>
        <div class="download-apps mt-0">
          <a class=" wow fadeInUp" href="#"><img src="assets/imgs/template/googleplay.png" alt="Carento" /></a>
          <a class=" wow fadeInUp" data-wow-delay="0.2s" href="#"><img src="assets/imgs/template/appstore.png" alt="Carento" /></a>
        </div>
      </div>
      <div class="col-lg-7">
        <div class="box-app-img wow fadeIn"><img src="assets/imgs/app/app-1/truck.png" alt="Carento" /></div>
      </div>
    </div>
  </div>
</section>
