<!-- app -->
<section class="box-app-2 position-relative background-100 pt-50" id="install-app">
  <div class="container position-relative z-1">
    <div class="row align-items-center">
      <div class="col-lg-5 col-md-12">
        <span class="btn btn-primary background-brand-2">Download Apps</span>
        <h4 class="mt-4 mb-3 neutral-1000">
          Get 15% off when <br />
          ordering on the App
        </h4>
        <p class="text-md-medium pb-3 neutral-500">
          Manage all your car rentals on the go <br />
          with the Carento app
        </p>
        <div class="download-apps mt-0 mb-40">
          <a href="#">
            <img src="assets/imgs/template/googleplay.png" alt="Carento" />
          </a>
          <a href="#">
            <img src="assets/imgs/template/appstore.png" alt="Carento" />
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-md-12">
        <div class="box-app-img d-lg-flex align-items-end d-none">
          <img src="assets/imgs/app/app-1/phone.png" alt="Carento" />
        </div>
      </div>
    </div>
  </div>
</section>
