<!-- banners 2 -->
<section class="section-box-banner-2 background-body py-96">
  <div class="container">
    <div class="row">
      <div class="col-lg-6">
        <div class="box-banner-1 px-5 position-relative rounded-12 overflow-hidden">
          <div class="banner-info position-relative z-1 py-5">
            <div class="banner-title">
              <h5 class="text-white">Loking for a rental car?</h5>
            </div>
            <p class="banner-text text-white text-md-regular py-3">
              Discover your ideal rental car for every adventure, <br class="d-none d-lg-block" />
              whether it's a road trip or business travel
            </p>
            <div class="banner-button pt-3">
              <a class="btn btn-primary background-brand-2" href="cars-list-1.html">
                Get Started Now
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <div class="box-banner-2 px-5 position-relative rounded-12 overflow-hidden mt-lg-0 mt-4">
          <div class="banner-info position-relative z-1 py-5">
            <div class="banner-title">
              <h5 class="text-white">Loking for a rental car?</h5>
            </div>
            <p class="banner-text text-white text-md-regular py-3">
              Maximize your vehicle's potential: seamlessly <br class="d-none d-lg-block" />
              rent or sell with confidence
            </p>
            <div class="banner-button pt-3">
              <a class="btn btn-primary bg-white" href="cars-list-1.html">
                Get Started Now
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                </svg>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
