<!-- FAQs 4 -->
<section class="section-faqs-2 pt-80 pb-80 border-bottom background-body">
  <div class="container">
    <div class="text-start mb-40">
      <h2 class="my-3 neutral-1000">General</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion">
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse01">
                <p class="text-lg-bold neutral-1000 pe-4">How do I make a reservation on your website?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse01" class="collapse show" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse02">
                <p class="text-lg-bold neutral-1000 pe-4">What documents do I need for my trip, and how do I obtain them?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse02" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse03">
                <p class="text-lg-bold neutral-1000 pe-4">In the event that I need to modify or cancel my reservation, what are the policies in place?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse03" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse04">
                <p class="text-lg-bold neutral-1000 pe-4">Can you specify the types of credit/debit cards, digital wallets, or other online payment methods accepted?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse04" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse05">
                <p class="text-lg-bold neutral-1000 pe-4">What payment methods do you accept?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse05" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse6">
                <p class="text-lg-bold neutral-1000 pe-4">Can I modify or cancel my reservation?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse6" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse7">
                <p class="text-lg-bold neutral-1000 pe-4">Do you offer discounts for group bookings?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse7" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-2">
        <div class="accordion">
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseSevent">
                <p class="text-lg-bold neutral-1000 pe-4">How do I search for hotels on your website?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseSevent" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseEight">
                <p class="text-lg-bold neutral-1000 pe-4">In the event that I need to modify or cancel my reservation, what are the policies in place?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseEight" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseNine">
                <p class="text-lg-bold neutral-1000 pe-4">Is breakfast included in the room rate?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseNine" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseTen">
                <p class="text-lg-bold neutral-1000 pe-4">Are pets allowed in the hotels?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseTen" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseEleven">
                <p class="text-lg-bold neutral-1000 pe-4">
                  How do I contact customer support if I have a question or <br />
                  issue?
                </p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseEleven" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseTwelve">
                <p class="text-lg-bold neutral-1000 pe-4">
                  Are there any loyalty programs or rewards for frequent <br />
                  guests?
                </p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseTwelve" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="section-faqs-2 pt-80 pb-80 background-body">
  <div class="container">
    <div class="text-start mb-40">
      <h2 class="my-3 neutral-1000">Payments</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div class="accordion">
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse02">
                <p class="text-lg-bold neutral-1000 pe-4">What documents do I need for my trip, and how do I obtain them?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse02" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse03">
                <p class="text-lg-bold neutral-1000 pe-4">In the event that I need to modify or cancel my reservation, what are the policies in place?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse03" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse04">
                <p class="text-lg-bold neutral-1000 pe-4">Can you specify the types of credit/debit cards, digital wallets, or other online payment methods accepted?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse04" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse05">
                <p class="text-lg-bold neutral-1000 pe-4">What payment methods do you accept?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse05" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse6">
                <p class="text-lg-bold neutral-1000 pe-4">Can I modify or cancel my reservation?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse6" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapse7">
                <p class="text-lg-bold neutral-1000 pe-4">Do you offer discounts for group bookings?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapse7" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 mt-lg-0 mt-2">
        <div class="accordion">
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseSevent">
                <p class="text-lg-bold neutral-1000 pe-4">How do I search for hotels on your website?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseSevent" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseEight">
                <p class="text-lg-bold neutral-1000 pe-4">In the event that I need to modify or cancel my reservation, what are the policies in place?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseEight" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseNine">
                <p class="text-lg-bold neutral-1000 pe-4">Is breakfast included in the room rate?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseNine" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseTen">
                <p class="text-lg-bold neutral-1000 pe-4">Are pets allowed in the hotels?</p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseTen" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseEleven">
                <p class="text-lg-bold neutral-1000 pe-4">
                  How do I contact customer support if I have a question or <br />
                  issue?
                </p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseEleven" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
          <div class="mb-2 card border rounded-3">
            <div class="px-0 card-header border-0 bacground-body">
              <a class="collapsed px-3 py-2 text-900 fw-bold d-flex align-items-center" data-bs-toggle="collapse" href="#collapseTwelve">
                <p class="text-lg-bold neutral-1000 pe-4">
                  Are there any loyalty programs or rewards for frequent <br />
                  guests?
                </p>
                <span class="ms-auto arrow me-2">
                  <svg class="invert" xmlns="http://www.w3.org/2000/svg" width="13" height="8" viewBox="0 0 13 8" fill="none">
                    <path class="stroke-dark" d="M11.5 1L6.25 6.5L1 1" stroke="#111827" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                  </svg>
                </span>
              </a>
            </div>
            <div id="collapseTwelve" class="collapse" data-bs-parent=".accordion">
              <p class="pt-0 pb-4 card-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-12 wow fadeInUp mt-4">
        <div class="d-flex justify-content-start gap-2">
          <a class="btn btn-gray2" href="contact.html">
            Contact Us
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
          <a class="btn btn-primary rounded-3" href="#">
            Submit a Ticket
            <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
              <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
            </svg>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
