<!-- faqs 1 -->
<section class="section-box box-faqs background-body pt-0">
  <div class="box-faqs-inner">
    <div class="container">
      <div class="text-center">
        <span class="text-sm-bold bg-2 p-3 rounded-12">Our Support</span>
        <h3 class="mt-4 neutral-1000">Frequently Asked Questions</h3>
      </div>
      <div class="block-faqs">
        <div class="accordion" id="accordionFAQ">
          <div class="accordion-item wow fadeInUp border-bottom-0">
            <h5 class="accordion-header" id="headingOne">
              <button class="accordion-button text-heading-5" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <h3>01</h3>
                <p>How do I make a reservation on your website</p>
              </button>
            </h5>
            <div class="accordion-collapse collapse show" id="collapseOne" aria-labelledby="headingOne" data-bs-parent="#accordionFAQ">
              <div class="accordion-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</div>
            </div>
          </div>
          <div class="accordion-item wow fadeInUp border-bottom-0">
            <h5 class="accordion-header" id="headingTwo">
              <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <h3>02</h3>
                <p>What documents do I need for my trip, and how do I obtain them?</p>
              </button>
            </h5>
            <div class="accordion-collapse collapse" id="collapseTwo" aria-labelledby="headingTwo" data-bs-parent="#accordionFAQ">
              <div class="accordion-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</div>
            </div>
          </div>
          <div class="accordion-item wow fadeInUp border-bottom-0">
            <h5 class="accordion-header" id="headingThree">
              <button class="accordion-button text-heading-5 collapsed text-heading-5 type=" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                <h3>03</h3>
                <p>In the event that I need to modify or cancel my reservation, what are the policies in place?</p>
              </button>
            </h5>
            <div class="accordion-collapse collapse" id="collapseThree" aria-labelledby="headingThree" data-bs-parent="#accordionFAQ">
              <div class="accordion-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</div>
            </div>
          </div>
          <div class="accordion-item wow fadeInUp border-bottom-0">
            <h5 class="accordion-header" id="headingFour">
              <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                <h3>04</h3>
                <p>Can you specify the types of credit/debit cards, digital wallets, or other online payment methods accepted?</p>
              </button>
            </h5>
            <div class="accordion-collapse collapse" id="collapseFour" aria-labelledby="headingFour" data-bs-parent="#accordionFAQ">
              <div class="accordion-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</div>
            </div>
          </div>
          <div class="accordion-item wow fadeInUp border-bottom-0">
            <h5 class="accordion-header" id="headingFive">
              <button class="accordion-button text-heading-5 collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                <h3>05</h3>
                <p>What are the working hours, and what can I expect in terms of response times?</p>
              </button>
            </h5>
            <div class="accordion-collapse collapse" id="collapseFive" aria-labelledby="headingFive" data-bs-parent="#accordionFAQ">
              <div class="accordion-body">Provide a step-by-step guide on how users can browse and book travel services on your platform. Include information on searching for destinations, selecting dates, choosing accommodation, and completing the booking process. Mention any special features or tools that can help users find the best deals.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-12 wow fadeInUp mt-4">
          <div class="d-flex justify-content-center gap-2">
            <a class="btn btn-primary mt-2" href="#">
              Contact Us
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
            <a class="btn btn-primary bg-transparent mt-2 invert" href="#">
              Help Center
              <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M8 15L15 8L8 1M15 8L1 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
