<!-- cta 11-->
<section class="section-cta-11 background-body pt-85 pb-85">
  <div class="container">
    <div class="row">
      <div class="col-lg-5">
        <h4 class="mb-10 neutral-1000">
          Get a competitive loan offer.
          Apply with us today.
        </h4>
          <p class="text-lg-medium mt-2 neutral-1000">Unlock the best rates and terms for your car loan with our easy application process.</p>
      </div>
      <div class="col-lg-7 mt-lg-0 mt-4">
        <div class="d-flex flex-md-row flex-column align-items-center justify-content-center gap-3 mb-30">
          <div>
            <img class="rounded-12" src="assets/imgs/cta/cta-11/img-1.png" alt="Carento" />
          </div>
          <div>
            <img class="rounded-12" src="assets/imgs/cta/cta-11/img-2.png" alt="Carento" />
          </div>
        </div>
      </div>
</section>
