<!-- cta 12-->
<section class="section-cta-12 background-100 py-96">
  <div class="box-cta-6">
    <div class="container">
      <div class="row align-items-center flex-column-reverse flex-lg-row">
        <div class="col-lg-6">
          <div class="card-image d-inline-block position-relative mb-100">
            <img class="rounded-12" src="assets/imgs/cta/cta-11/img-3.png" alt="Carento" />
            <img class="position-absolute top-100 start-100 translate-middle d-none d-md-block" src="assets/imgs/cta/cta-11/img-car.png" alt="Carento" />
          </div>
        </div>
        <div class="col-lg-6 ps-lg-5">
          <div class="mb-30 background-card p-md-5 p-4 rounded-3 mt-lg-0 mt-30">
            <h5 class="neutral-1000 mb-2">Car Loan Calculator</h5>
            <p class="text-sm-medium neutral-500 mb-25">Estimate your monthly auto loan payments with this calculator.</p>
            <div class="form-contact">
              <div class="row">
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="text-sm-medium neutral-1000">Price of vehicle</label>
                    <input class="form-control" type="text" placeholder="$20,000" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="text-sm-medium neutral-1000">Interest rate</label>
                    <input class="form-control" type="text" placeholder="5%" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="text-sm-medium neutral-1000">Terms</label>
                    <input class="form-control" type="text" placeholder="12 months" />
                  </div>
                </div>
                <div class="col-lg-6">
                  <div class="form-group">
                    <label class="text-sm-medium neutral-1000">Down payment</label>
                    <input class="form-control" type="text" placeholder="$12,000" />
                  </div>
                </div>
                <div class="row py-4">
                  <div class="col-md-5 col-8 d-flex flex-column gap-1">
                    <p class="text-sm-bold neutral-1000">Down payment ammout</p>
                    <p class="text-sm-bold neutral-1000">Amount financed</p>
                    <p class="text-sm-bold neutral-1000">Monthly payment</p>
                  </div>
                  <div class="col-md-7 col-4 d-flex flex-column gap-1 align-items-end align-items-md-start">
                    <p class="text-sm-bold neutral-1000">$12,000</p>
                    <p class="text-sm-bold neutral-1000">$800,00</p>
                    <p class="text-sm-bold text-primary-dark">$480,00</p>
                  </div>
                </div>
                <div class="col-lg-12">
                  <button class="btn btn-book">
                    Apply for a loan
                    <svg width="17" height="16" viewBox="0 0 17 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <path d="M8.5 15L15.5 8L8.5 1M15.5 8L1.5 8" stroke="" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"></path>
                    </svg>
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="bg-overlay position-absolute bottom-0 end-0 h-75 background-brand-2 opacity-25 z-0 rounded-start-pill"></div>
  </div>
</section>
