<!--User dashboard home content-->

<div class="alert alert-info alert-dismissible d-flex align-items-center border-0 mb-4 fade show  wow fadeInDown mb-4">
    <i class="fi fi-rr-info me-2 mt-1"></i>
    <p class="mb-0">
        Join the year-end sale to boost your sales now
    </p>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>


<!--notifications & recent bookings-->
<div class="row ">
    <!-- Booking -->
    <div class="col-xl-12 d-flex">
        <div class="card shadow-none flex-fill">
            <div class="card-header">
                <div class="d-flex justify-content-between align-items-center">
                    <span class="neutral-1000 text-md-bold fs-5">Booking List</span>
                    <div class="fillter d-flex gap-2">
                        <div class="input-icon-start position-relative">
                            <span class="icon-addon">
                                <i class="fi fi-rr-search"></i>
                            </span>
                            <input type="text" class="input-small" placeholder="Search">
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                <i class="fi fi-rr-steering-wheel me-2"></i>Car type
                            </a>
                            <ul class="dropdown-menu small dropdown-menu-end p-2">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Sedan
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Coupe
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Hatchback
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle btn btn-sort bg-neutral-100 btn-sm neutral-500 rounded-pill fw-normal fs-8 d-inline-flex align-items-center" data-bs-toggle="dropdown">
                                <i class="fi fi-rr-filter-list me-2"></i>Sort
                            </a>
                            <ul class="dropdown-menu small dropdown-menu-end p-2">
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Newest
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Oldest
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Paid
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Unpaid
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:void(0);" class="dropdown-item rounded-1">
                                        <i class="ti ti-point-filled me-1"></i>Cancelled
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card-body">
                <div class="box-grid-tours wow fadeIn">
                    <div class="row">
                        <div class="col-lg-4 col-md-6">
                            <div class="card-journey-small background-card hover-up">
                                <div class="card-image">
                                    <a href="cars-details-1.html">
                                        <img src="assets/imgs/cars-listing/cars-listing-6/car-1.png" alt="Carento" />
                                    </a>
                                </div>
                                <div class="card-info p-4 pt-30">
                                    <div class="card-rating">
                                        <div class="card-left"></div>
                                        <div class="card-right">
                                            <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                                        </div>
                                    </div>
                                    <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">GMC Sierra 2500HD Denali</a></div>
                                    <div class="card-program">
                                        <div class="card-location">
                                            <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                                        </div>
                                        <div class="card-facitlities">
                                            <p class="card-miles text-md-medium">25,100 miles</p>
                                            <p class="card-gear text-md-medium">Automatic</p>
                                            <p class="card-fuel text-md-medium">Diesel</p>
                                            <p class="card-seat text-md-medium">7 seats</p>
                                        </div>
                                        <div class="endtime">
                                            <div class="card-price">
                                                <h6 class="text-lg-bold neutral-1000">$98.67</h6>
                                                <p class="text-md-medium neutral-500">/ day</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card-journey-small background-card hover-up">
                                <div class="card-image">
                                    <a href="cars-details-1.html">
                                        <img src="assets/imgs/cars-listing/cars-listing-6/car-2.png" alt="Carento" />
                                    </a>
                                </div>
                                <div class="card-info p-4 pt-30">
                                    <div class="card-rating">
                                        <div class="card-left"></div>
                                        <div class="card-right">
                                            <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                                        </div>
                                    </div>
                                    <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Ford Mustang GT Premium</a></div>
                                    <div class="card-program">
                                        <div class="card-location">
                                            <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                                        </div>
                                        <div class="card-facitlities">
                                            <p class="card-miles text-md-medium">25,100 miles</p>
                                            <p class="card-gear text-md-medium">Automatic</p>
                                            <p class="card-fuel text-md-medium">Diesel</p>
                                            <p class="card-seat text-md-medium">7 seats</p>
                                        </div>
                                        <div class="endtime">
                                            <div class="card-price">
                                                <h6 class="text-lg-bold neutral-1000">$89.32</h6>
                                                <p class="text-md-medium neutral-500">/ day</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card-journey-small background-card hover-up">
                                <div class="card-image">
                                    <a href="cars-details-1.html">
                                        <img src="assets/imgs/cars-listing/cars-listing-6/car-3.png" alt="Carento" />
                                    </a>
                                </div>
                                <div class="card-info p-4 pt-30">
                                    <div class="card-rating">
                                        <div class="card-left"></div>
                                        <div class="card-right">
                                            <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                                        </div>
                                    </div>
                                    <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Mazda MX-5 Miata Club</a></div>
                                    <div class="card-program">
                                        <div class="card-location">
                                            <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                                        </div>
                                        <div class="card-facitlities">
                                            <p class="card-miles text-md-medium">25,100 miles</p>
                                            <p class="card-gear text-md-medium">Automatic</p>
                                            <p class="card-fuel text-md-medium">Diesel</p>
                                            <p class="card-seat text-md-medium">7 seats</p>
                                        </div>
                                        <div class="endtime">
                                            <div class="card-price">
                                                <h6 class="text-lg-bold neutral-1000">$89.56</h6>
                                                <p class="text-md-medium neutral-500">/ day</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card-journey-small background-card hover-up">
                                <div class="card-image">
                                    <a href="cars-details-1.html">
                                        <img src="assets/imgs/cars-listing/cars-listing-6/car-4.png" alt="Carento" />
                                    </a>
                                </div>
                                <div class="card-info p-4 pt-30">
                                    <div class="card-rating">
                                        <div class="card-left"></div>
                                        <div class="card-right">
                                            <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                                        </div>
                                    </div>
                                    <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Subaru Impreza WRX STI</a></div>
                                    <div class="card-program">
                                        <div class="card-location">
                                            <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                                        </div>
                                        <div class="card-facitlities">
                                            <p class="card-miles text-md-medium">25,100 miles</p>
                                            <p class="card-gear text-md-medium">Automatic</p>
                                            <p class="card-fuel text-md-medium">Diesel</p>
                                            <p class="card-seat text-md-medium">7 seats</p>
                                        </div>
                                        <div class="endtime">
                                            <div class="card-price">
                                                <h6 class="text-lg-bold neutral-1000">$658.0</h6>
                                                <p class="text-md-medium neutral-500">/ day</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card-journey-small background-card hover-up">
                                <div class="card-image">
                                    <a href="cars-details-1.html">
                                        <img src="assets/imgs/cars-listing/cars-listing-6/car-5.png" alt="Carento" />
                                    </a>
                                </div>
                                <div class="card-info p-4 pt-30">
                                    <div class="card-rating">
                                        <div class="card-left"></div>
                                        <div class="card-right">
                                            <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                                        </div>
                                    </div>
                                    <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Porsche 911 Carrera S</a></div>
                                    <div class="card-program">
                                        <div class="card-location">
                                            <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                                        </div>
                                        <div class="card-facitlities">
                                            <p class="card-miles text-md-medium">25,100 miles</p>
                                            <p class="card-gear text-md-medium">Automatic</p>
                                            <p class="card-fuel text-md-medium">Diesel</p>
                                            <p class="card-seat text-md-medium">7 seats</p>
                                        </div>
                                        <div class="endtime">
                                            <div class="card-price">
                                                <h6 class="text-lg-bold neutral-1000">$125.0</h6>
                                                <p class="text-md-medium neutral-500">/ day</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-md-6">
                            <div class="card-journey-small background-card hover-up">
                                <div class="card-image">
                                    <a href="cars-details-1.html">
                                        <img src="assets/imgs/cars-listing/cars-listing-6/car-6.png" alt="Carento" />
                                    </a>
                                </div>
                                <div class="card-info p-4 pt-30">
                                    <div class="card-rating">
                                        <div class="card-left"></div>
                                        <div class="card-right">
                                            <span class="rating text-xs-medium rounded-pill">4.96 <span class="text-xs-medium neutral-500">(672 reviews)</span></span>
                                        </div>
                                    </div>
                                    <div class="card-title"><a class="text-lg-bold neutral-1000 text-nowrap" href="cars-details-1.html">Toyota Camry LE Hybrid</a></div>
                                    <div class="card-program">
                                        <div class="card-location">
                                            <p class="text-location text-sm-medium neutral-500">New South Wales, Australia</p>
                                        </div>
                                        <div class="card-facitlities">
                                            <p class="card-miles text-md-medium">25,100 miles</p>
                                            <p class="card-gear text-md-medium">Automatic</p>
                                            <p class="card-fuel text-md-medium">Diesel</p>
                                            <p class="card-seat text-md-medium">7 seats</p>
                                        </div>
                                        <div class="endtime">
                                            <div class="card-price">
                                                <h6 class="text-lg-bold neutral-1000">$32.47</h6>
                                                <p class="text-md-medium neutral-500">/ day</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true">
                                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M6.00016 1.33325L1.3335 5.99992M1.3335 5.99992L6.00016 10.6666M1.3335 5.99992H10.6668" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </a>
                        </li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link active" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" href="#">...</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true">
                                    <svg width="12" height="12" viewbox="0 0 12 12" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.99967 10.6666L10.6663 5.99992L5.99968 1.33325M10.6663 5.99992L1.33301 5.99992" stroke="" stroke-linecap="round" stroke-linejoin="round"></path>
                                    </svg>
                                </span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- /Booking -->

</div>