<!--Pricing 1-->
<section class="section-pricing-1 pt-80 pb-100 background-body border-bottom">
  <div class="container">
    <div class="row pb-40 z-1 justify-content-center">
      <div class="col-lg-auto align-self-end">
        <h3 class="text-center neutral-1000">Membership Plans</h3>
        <div class="d-flex justify-content-center align-items-center mt-3">
          <ul class="list-unstyled d-flex align-items-center gap-3 change-price-plan">
            <li>
              <a href="#" class="active btn btn-primary monthly px-3 py-2" data-type="monthly">Monthly Price</a>
            </li>
            <li>
              <a href="#" class="yearly btn btn-white px-3 py-2" data-type="yearly">Annual Price</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
        <div class="h-100 p-4 border rounded-12">
          <h6 class="text-lg-bold neutral-1000">Basic</h6>
          <div class="d-flex">
            <span class="heading-3 neutral-1000">$</span>
            <h3 class="neutral-1000 mb-0 text-price-standard">19</h3>
            <span class="neutral-500 text-md-medium align-self-end text-type-standard">/Mon</span>
          </div>
          <p class="text-sm-medium neutral-1000">For most businesses that want to optimize web queries</p>
          <ul class="list-unstyled mb-0 py-4 border-top mt-4">
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Access to standard vehicles</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">24/7 customer support</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Basic insurance coverage</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2 text-400">Online booking</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2 text-400">Standard roadside assistance</p>
            </li>
            <li class="d-flex align-items-center">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2 text-400">One free vehicle per month</p>
            </li>
          </ul>
          <button class="btn btn-primary2 w-100 d-flex justify-content-between">
            Get Started Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path class="fill-dark" d="M17.4177 5.41797L16.3487 6.48705L21.1059 11.2443H0V12.7562H21.1059L16.3487 17.5134L17.4177 18.5825L24 12.0002L17.4177 5.41797Z" fill="#111827" />
            </svg>
          </button>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
        <div class="h-100 p-4 border rounded-12">
          <h6 class="text-lg-bold neutral-1000">Standard</h6>
          <div class="d-flex">
            <span class="heading-3 neutral-1000">$</span>
            <h3 class="neutral-1000 mb-0 text-price-standard">29</h3>
            <span class="neutral-500 text-md-medium align-self-end text-type-standard">/Mon</span>
          </div>
          <p class="text-sm-medium neutral-1000">For most businesses that want to optimize web queries</p>
          <ul class="list-unstyled mb-0 py-4 border-top mt-4">
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">All Basic Plan features</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Access to premium vehicles</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Flexible rental terms</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">GPS included</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Free additional driver</p>
            </li>
            <li class="d-flex align-items-center">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Unlimited vehicle swaps</p>
            </li>
          </ul>
          <button class="btn btn-primary2 w-100 d-flex justify-content-between">
            Get Started Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path class="fill-dark" d="M17.4177 5.41797L16.3487 6.48705L21.1059 11.2443H0V12.7562H21.1059L16.3487 17.5134L17.4177 18.5825L24 12.0002L17.4177 5.41797Z" fill="dark" />
            </svg>
          </button>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
        <div class="h-100 p-4 border rounded-12">
          <h6 class="text-lg-bold neutral-1000">Premium</h6>
          <div class="d-flex">
            <span class="heading-3 neutral-1000">$</span>
            <h3 class="neutral-1000 mb-0 text-price-business">49</h3>
            <span class="neutral-500 text-md-medium align-self-end text-type-business">/Mon</span>
          </div>
          <p class="text-sm-medium neutral-1000">For most businesses that want to optimize web queries</p>
          <ul class="list-unstyled mb-0 py-4 border-top mt-4">
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">All Standard Plan features</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Luxury vehicle options</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Complimentary upgrades</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Enhanced insurance coverage</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Free airport pickup, drop-off</p>
            </li>
            <li class="d-flex align-items-center">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Exclusive deals and offers</p>
            </li>
          </ul>
          <button class="btn btn-primary2 w-100 d-flex justify-content-between">
            Get Started Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path class="fill-dark" d="M17.4177 5.41797L16.3487 6.48705L21.1059 11.2443H0V12.7562H21.1059L16.3487 17.5134L17.4177 18.5825L24 12.0002L17.4177 5.41797Z" fill="#111827" />
            </svg>
          </button>
        </div>
      </div>
      <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
        <div class="h-100 p-4 border rounded-12">
          <h6 class="text-lg-bold neutral-1000">VIP</h6>
          <div class="d-flex">
            <span class="heading-3 neutral-1000">$</span>
            <h3 class="neutral-1000 mb-0 text-price-enterprise">99</h3>
            <span class="neutral-500 text-md-medium align-self-end text-type-enterprise">/Mon</span>
          </div>
          <p class="text-sm-medium neutral-1000">For most businesses that want to optimize web queries</p>
          <ul class="list-unstyled mb-0 py-4 border-top mt-4">
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">All Premium Plan features</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">VIP transfer service</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Personal concierge</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Unlimited mileage</p>
            </li>
            <li class="d-flex align-items-center mb-3">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">Luxury vehicle upgrades</p>
            </li>
            <li class="d-flex align-items-center">
              <img src="assets/imgs/pricing-1/check-primary.svg" alt="carento" />
              <p class="text-sm-medium neutral-1000 m-0 ms-2">24/7 account manager</p>
            </li>
          </ul>
          <button class="btn btn-primary2 w-100 d-flex justify-content-between">
            Get Started Now
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
              <path class="fill-dark" d="M17.4177 5.41797L16.3487 6.48705L21.1059 11.2443H0V12.7562H21.1059L16.3487 17.5134L17.4177 18.5825L24 12.0002L17.4177 5.41797Z" fill="#111827" />
            </svg>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="rotate-center ellipse-rotate-success position-absolute z-0"></div>
  <div class="rotate-center-rev ellipse-rotate-primary position-absolute z-0"></div>
</section>
